@font-face {
    font-family: 'Noto Sans KR';
    src: url('NotoSansKR-Bold.woff2') format('woff2'),
        url('NotoSansKR-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('NotoSansKR-Regular.woff2') format('woff2'),
        url('NotoSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

