/***********************************
* 파일명 : layout.css
* 작성자 : 신수진
* 작성일 : 25-11-12
************************************/

header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-m);
    transition: transform 0.5s;
}
header::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    background-color: var(--color-white);
    transition: height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0.5px;
    opacity: 0;
    background-color: #f4f4f4;
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
header .logo a {
    display: block;
    width: 128px;
    height: 30px;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex;
    align-items: center;
    gap: 0 14px;
}
header .util .search .sch_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37.1px;
    height: 37.1px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .search .sch_open {
    background-size: 17.28px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1728 20.4903L12.3219 13.6391C11.6969 14.1551 10.9781 14.559 10.1656 14.8506C9.35312 15.1423 8.5126 15.2881 7.64406 15.2881C5.5076 15.2881 3.69948 14.5484 2.21969 13.0691C0.739896 11.5897 0 9.78198 0 7.64594C0 5.5101 0.739687 3.70177 2.21906 2.22094C3.69844 0.740313 5.50615 0 7.64219 0C9.77802 0 11.5864 0.739895 13.0672 2.21969C14.5478 3.69948 15.2881 5.5076 15.2881 7.64406C15.2881 8.53677 15.1383 9.38938 14.8388 10.2019C14.539 11.0144 14.1391 11.721 13.6391 12.3219L20.49 19.1728L19.1728 20.4903ZM7.64406 13.4134C9.25469 13.4134 10.6189 12.8545 11.7366 11.7366C12.8545 10.6189 13.4134 9.25469 13.4134 7.64406C13.4134 6.03344 12.8545 4.66927 11.7366 3.55156C10.6189 2.43364 9.25469 1.87469 7.64406 1.87469C6.03344 1.87469 4.66927 2.43364 3.55156 3.55156C2.43365 4.66927 1.87469 6.03344 1.87469 7.64406C1.87469 9.25469 2.43365 10.6189 3.55156 11.7366C4.66927 12.8545 6.03344 13.4134 7.64406 13.4134Z' /%3E%3C/svg%3E%0A");
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
header .util .lang .lang_open {
    width: 59px;
    height: 37.1px;
    padding: 7px 29px 6px 9px;
    font-size: 1.6rem;
    font-weight: 700;
    position: relative; /* after 정렬 기준 */
}
header .util .lang .lang_open::after {
    content: "";
    position: absolute;
    right: 7.74px;
    top: 17.81px;
    width: 9px;
    height: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 5' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25848 0.607087L4.12924 4.73633L0 0.607087L0.607062 2.46723e-05L4.12924 3.52231L7.65142 2.46723e-05L8.25848 0.607087Z'/%3E%3C/svg%3E%0A");
}
/****************** header에 fixed 클래스 추가 *********************/
header.fixed {
    background-color: var(--color-white);
    color: var(--color-txt-title);
    border-bottom: 1px solid #ededed;
}
header.fixed .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .gnb .gnb_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 9' fill='%23061225' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8.25V6H22.5V8.25H0ZM0 2.25V0H22.5V2.25H11.25H0Z' /%3E%3C/svg%3E%0A");
}
header.fixed .util .search .sch_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' fill='%23061225' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1728 20.4903L12.3219 13.6391C11.6969 14.1551 10.9781 14.559 10.1656 14.8506C9.35312 15.1423 8.5126 15.2881 7.64406 15.2881C5.5076 15.2881 3.69948 14.5484 2.21969 13.0691C0.739896 11.5897 0 9.78198 0 7.64594C0 5.5101 0.739687 3.70177 2.21906 2.22094C3.69844 0.740313 5.50615 0 7.64219 0C9.77802 0 11.5864 0.739895 13.0672 2.21969C14.5478 3.69948 15.2881 5.5076 15.2881 7.64406C15.2881 8.53677 15.1383 9.38938 14.8388 10.2019C14.539 11.0144 14.1391 11.721 13.6391 12.3219L20.49 19.1728L19.1728 20.4903ZM7.64406 13.4134C9.25469 13.4134 10.6189 12.8545 11.7366 11.7366C12.8545 10.6189 13.4134 9.25469 13.4134 7.64406C13.4134 6.03344 12.8545 4.66927 11.7366 3.55156C10.6189 2.43364 9.25469 1.87469 7.64406 1.87469C6.03344 1.87469 4.66927 2.43364 3.55156 3.55156C2.43365 4.66927 1.87469 6.03344 1.87469 7.64406C1.87469 9.25469 2.43365 10.6189 3.55156 11.7366C4.66927 12.8545 6.03344 13.4134 7.64406 13.4134Z' /%3E%3C/svg%3E%0A");
}
header.fixed .util .lang .lang_open::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 5' fill='%23061225' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25848 0.607087L4.12924 4.73633L0 0.607087L0.607062 2.46723e-05L4.12924 3.52231L7.65142 2.46723e-05L8.25848 0.607087Z'/%3E%3C/svg%3E%0A");
}
header.menu_pc.fixed .gnb .gnb_wrap ul.depth1 > li > a {
    color: var(--color-txt-title);
}
header.menu_mo.fixed .gnb .gnb_wrap ul.depth1 > li > a {
    color: var(--color-white);
}
header.menu_mo.fixed .gnb .gnb_wrap ul.depth1 > li.open > a {
    color: var(--color-main);
}
header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-110%);
}
/****************** header pc 버전  *********************/
@media screen and (min-width:1025px){
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일에서만 보임 */
    }
    header .gnb .gnb_wrap {
        min-width: 60.8rem;
        width: 100%;
        transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        height: var(--header-h);
        font-weight: 700;
        font-size: 1.8rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: var(--header-h);
        z-index: 1;
        transform: translateX(-50%);
        width: 20rem;
        height: 0;
        padding-top: 17px;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1), height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        color: var(--color-txt-basic);
        font-size: 1.6rem;
        text-align: center;
        display: block;
        opacity: 1;
        white-space: nowrap;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        color: var(--color-main);
        font-weight: 700;
    }
    /****************** header menu_pc *********************/
    header.menu_pc {
        color: var(--color-txt-title);
    }
    header.menu_pc::before {
        height: 400px;
    }
    header.menu_pc::after {
        width: 100%;
        opacity: 1;
    }
    header.menu_pc .logo a {
        background-image: url(../images/common/logo.svg);
    }
    header.menu_pc .gnb .gnb_wrap {
        min-width: clamp(69rem, 46vw, 75rem);
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > a {
        color: var(--color-txt-title);
        transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > a:hover {
        color: var(--color-main);
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        height: calc(330px - var(--header-h));
        opacity: 1;
        min-width: 100%;        
    }
    header.menu_pc .util .search .sch_open {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' fill='%23061225' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1728 20.4903L12.3219 13.6391C11.6969 14.1551 10.9781 14.559 10.1656 14.8506C9.35312 15.1423 8.5126 15.2881 7.64406 15.2881C5.5076 15.2881 3.69948 14.5484 2.21969 13.0691C0.739896 11.5897 0 9.78198 0 7.64594C0 5.5101 0.739687 3.70177 2.21906 2.22094C3.69844 0.740313 5.50615 0 7.64219 0C9.77802 0 11.5864 0.739895 13.0672 2.21969C14.5478 3.69948 15.2881 5.5076 15.2881 7.64406C15.2881 8.53677 15.1383 9.38938 14.8388 10.2019C14.539 11.0144 14.1391 11.721 13.6391 12.3219L20.49 19.1728L19.1728 20.4903ZM7.64406 13.4134C9.25469 13.4134 10.6189 12.8545 11.7366 11.7366C12.8545 10.6189 13.4134 9.25469 13.4134 7.64406C13.4134 6.03344 12.8545 4.66927 11.7366 3.55156C10.6189 2.43364 9.25469 1.87469 7.64406 1.87469C6.03344 1.87469 4.66927 2.43364 3.55156 3.55156C2.43365 4.66927 1.87469 6.03344 1.87469 7.64406C1.87469 9.25469 2.43365 10.6189 3.55156 11.7366C4.66927 12.8545 6.03344 13.4134 7.64406 13.4134Z' /%3E%3C/svg%3E%0A");
    }
    header.menu_pc .util .lang .lang_open::after {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 5' fill='%23061225' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25848 0.607087L4.12924 4.73633L0 0.607087L0.607062 2.46723e-05L4.12924 3.52231L7.65142 2.46723e-05L8.25848 0.607087Z'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_bg {
        position: absolute; /* header 기준 정렬 */ 
        right: 0;
        top: 0;
        z-index: -2;
        width: 100%;
        height: 0;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(40px);
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    header.menu_pc .gnb .gnb_bg {
        opacity: 1;
        height: 100dvh;
    }
}/*media*/
/****************** header mo 버전  *********************/
@media screen and (max-width:1024px){
    header {
        padding-right: 0;
    }
    header::before {
        display: none;
    }
    header::after {
        display: none;
    }
    header .logo a {
        width: 92.05px;
        height: 22px;
    }
    header .util {
        display: none;
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 22.5px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 9' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8.25V6H22.5V8.25H0ZM0 2.25V0H22.5V2.25H11.25H0Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        position: absolute; /* header 기준 정렬 */
        z-index: 20;
        right: -85%;
        top: 0;
        width: 85%;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(70px);
        transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    header.menu_mo .gnb .gnb_wrap {
        right: 0;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /* gnb_wrap 기준 정렬 */
        left: 5%;
        top: 0;
        width: 92.05px;
        height: var(--header-h);
        background: url(../images/common/logo_w.svg) no-repeat center center / contain;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
        padding: 0 0 50px 0;
        height: calc(100dvh - var(--header-h));
        overflow-y: auto;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 21px 0 21px 5%;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
        position: relative; /* after 기준 정렬 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute; /* a 정렬 기준 */
        right: 23.96px;
        top: 31.5px;
        width: 17px;
        height: 10px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 16.09px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 10' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.000228882 1.18271L1.18248 0L8.04456 6.86208L14.9066 0L16.0894 1.18271L8.04456 9.2275L-0.000228882 1.18271Z' /%3E%3C/svg%3E%0A");
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: rotate(180deg);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: rgba(145, 145, 145, 0.2);
        box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 20px 0;
        margin: 0 var(--wrapper-m);
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding-left: 7%;
        font-weight: 700;
        line-height: 2.5;
        color: var(--color-white);
    }
    header .gnb .gnb_close {
        display: block;
        position: absolute; /* header 기준 정렬 */
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 17.96px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 18' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.58062 17.9613L0 16.3806L7.4 8.98063L0 1.58063L1.58062 0L8.98063 7.4L16.3806 0L17.9613 1.58063L10.5613 8.98063L17.9613 16.3806L16.3806 17.9613L8.98063 10.5613L1.58062 17.9613Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_bg {
        position: absolute; /* header 기준 정렬 */
        right: -100%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(40px);
        opacity: 0;
        transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }
    header.menu_mo .gnb .gnb_bg {
        right: 0;
        opacity: 1;
    }
}

footer {
    background-color: #0D0F12;
    padding: 82px 0 106px 0;
    font-size: clamp(1.5rem, 1.2vw, 1.7rem);
}
footer .wrapper {
    position: relative; /* f_util 정렬 기준 */
    display: flex;
    gap: 0 50px;
}
footer .f_logo {
    width: clamp(88px, 10vw, 138px);
    height: clamp(21px, 2.5vw, 33px);
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
footer .f_util {
    position: absolute;
    right: 0;
    top: -10px;
    color: var(--color-white);
    display: flex;
    gap: 0 10px;
}
footer .f_util .family_site {
    width: 188px;
    position: relative; /* faily_wrap 정렬기준 */
}
footer .f_util .family_site .faily_open,
footer .f_util .family_site .faily_close {
    display: block;
    width: 100%;
    height: 45px;
    padding-left: 16px;
    text-align: left;
    background-color: #3D3D3D;
    position: relative; /* after 정렬 기준 */
}
footer .f_util .family_site .faily_open::after,
footer .f_util .family_site .faily_close::after {
    content: "";
    position: absolute;
    right: 0.9859em;
    top: 1.1029em;
    width: 0.8824em;
    height: 0.5294em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0.8518em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 9' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.7738e-05 7.24025L1.06453 8.30469L7.2404 2.12881L13.4163 8.30469L14.4807 7.24025L7.2404 -6.29425e-05L8.7738e-05 7.24025Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .faily_open::after {
    transform: rotate(180deg);
}
footer .f_util .family_site .faily_wrap {
    display: none;
    position: absolute; /* family_site 기준 정렬 */
    left: 0;
    bottom: calc(45px + 1px);
    width: 100%;
    height: 45px;
    background-color: #3D3D3D;
}
footer .f_util .family_site .faily_wrap a {
    display: block;
    line-height: 45px;
    padding-left: 0.9412em;
    position: relative; /* after 정렬 기준 */
}
footer .f_util .family_site .faily_wrap a::after {
    content: "";
    position: absolute; /* a 기준 정렬 */
    right: 1.1176em;
    top: 0.8606em;
    width: 0.7647em;
    height: 0.7647em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0.75em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 13' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.35581 12.75C0.976937 12.75 0.65625 12.6188 0.39375 12.3563C0.13125 12.0938 0 11.7731 0 11.3942V1.35581C0 0.976937 0.13125 0.65625 0.39375 0.39375C0.65625 0.13125 0.976937 0 1.35581 0H6.08644V1.125H1.35581C1.29806 1.125 1.24519 1.14906 1.19719 1.19719C1.14906 1.24519 1.125 1.29806 1.125 1.35581V11.3942C1.125 11.4519 1.14906 11.5048 1.19719 11.5528C1.24519 11.6009 1.29806 11.625 1.35581 11.625H11.3942C11.4519 11.625 11.5048 11.6009 11.5528 11.5528C11.6009 11.5048 11.625 11.4519 11.625 11.3942V6.66356H12.75V11.3942C12.75 11.7731 12.6188 12.0938 12.3563 12.3563C12.0938 12.6188 11.7731 12.75 11.3942 12.75H1.35581ZM4.66444 8.87588L3.87413 8.08556L10.8347 1.125H7.875V0H12.75V4.875H11.625V1.91531L4.66444 8.87588Z' /%3E%3C/svg%3E%0A");
}
footer .f_util .family_site .faily_close {
    display: none;
}
footer .f_util .family_site.open .faily_close {
    display: block;
}
footer .f_util .family_site.open .faily_open {
    display: none;
}
footer .f_util .top {
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    background-color: var(--color-main);
}
footer .f_nav {
    color: var(--color-white8);
}
footer .f_nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 40px;
}
footer .f_nav ul li a {
    display: block;
}
footer .f_info {
    color: var(--color-white8);
    margin-bottom: 17px;
}
footer .f_info address {
    display: inline-block;
}
footer .f_info span {
    display: inline-block;
    margin: 17px 40px 0 0;
}
footer .copyright {
    color: var(--color-white6);
}
@media screen and (max-width:1320px){
    footer .wrapper {
        gap: 0 2.9412em;
    }
    footer .f_nav ul {
        gap: 0 2.3529em;
    }
    footer .f_info span {
        display: inline-block;
        margin-right: 2.3529em;
    }
}/*media*/
@media screen and (max-width:1150px){
    footer {
        padding: 70px 0 79px 0;
    }
    footer .wrapper {
        display: block;
    }
    footer .f_logo {
        margin-bottom: 31px;
    }
}
@media screen and (max-width:768px){
    footer .f_util {
        position: relative;
        right: auto;
        top: auto;
    }
    footer .f_util .family_site {
        width: 281px;
        margin-bottom: 31px;
    }
    footer .f_info {
        margin-bottom: 12px;
    }
    footer .f_info span {
        margin-top: 12px;
    }
}