/***********************************
* 파일명 : main.css
* 작성자 : 신수진
* 작성일 : 25-11-12
************************************/

@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);

section {
    background-color: #000;
}
section .tit {
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
}
section .tit strong {
    display: block;
    color: var(--color-main);
    margin: 0 0 17px 0;
}
section .tit h2 {
    font-size: 50px;
    color: var(--color-white);
}

.visual {
    position: relative;
    color: var(--color-white);
}
.visual .swiper {
    width: 100%;
    overflow: hidden;
}
.visual .swiper-slide {
    position: relative; /* photo 기준 정렬 */
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual .swiper-slide .photo {
    position: absolute; /* swiper-slide 기준 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.2, 1.2, 1);
    transition: 2s;
    transition-delay: 0.2s;
}
.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1, 1, 1);
}
.visual .swiper-slide .txt {
    margin: 0 0 clamp(155px, 30vw, 394px) 0;
}
.visual .swiper-slide .txt h3 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 21px 0;
    transition: 1s;
    transition-delay: 0.3s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide .txt p {
    font-size: 2rem;
    transition: 1s;
    transition-delay: 0.5s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active .txt h3,
.visual .swiper-slide.swiper-slide-active .txt p {
    transform: translateY(0);
    opacity: 1;
}
.visual .ctrl_wrap {
    position: absolute; /* visual 기준 정렬 */
    left: calc(50% - 630px);
    right: 0;
    bottom: clamp(95px, 22vw, 322px);
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0 12px;
}
.visual .ctrl_wrap .paging {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.visual .ctrl_wrap .paging .bar {
    position: relative; /* span 정렬 기준 */
    width: clamp(128px, 31vw, 410px);
    height: 2px;
    background: var(--color-white3);
}
.visual .ctrl_wrap .paging .bar span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_wrap .ctrl_btn {
    display: flex;
    align-items: center;
    gap: 0 12px;
}
.visual .ctrl_wrap .ctrl_btn .btn_prev,
.visual .ctrl_wrap .ctrl_btn .btn_next {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 8.02px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99261 13.9852L8.02063 12.9572L2.05605 6.9926L8.02063 1.02802L6.99261 0L1.01859e-05 6.9926L6.99261 13.9852Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap .ctrl_btn .btn_next {
    transform: rotate(180deg);
}
.visual .ctrl_wrap .play_stop .btn_play,
.visual .ctrl_wrap .play_stop .btn_stop {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--color-white1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px;
}
.visual .ctrl_wrap .play_stop .btn_play {
    display: none; /* stop을 누르면 나옴 */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 14V0L10 7L0 14Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap .play_stop .btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.41304 14V0H10V14H6.41304ZM0 14V0H3.58696V14H0Z' /%3E%3C/svg%3E%0A");
}  
@media screen and (max-width:1320px){
    .visual .ctrl_wrap{
        left: var(--wrapper-m);
    }
}/*media*/
@media screen and (min-width:769px) and (max-width:1024px){
    .visual .swiper-slide .txt h3 {
        font-size: 4.7rem;
        margin: 0 0 21px 0;
    }
    .visual .swiper-slide .txt p {
        font-size: 1.8rem;
    }
}
@media screen and (max-width:768px){
    .visual .swiper-slide {
        height: 700px;
    }
    .visual .swiper-slide .txt h3 {
        font-size: 3.4rem;
        margin: 0 0 17px 0;
    }
    .visual .swiper-slide .txt p {
        font-size: 1.6rem;
    }
}/*media*/
@media screen and (max-width:400px){
    .visual .swiper-slide .txt h3 br {
        display: none;
    }
}

.bg_objects {
    position: absolute; /* body 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 9000px; /* 페이지 높이보다 충분히 크게 */
}
.bg_objects::before {
    content: "";
    position: absolute;
    left: -20%;
    top: 14%;
    z-index: 1;
    width: 600px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(0, 100, 255, 0.6);
    filter: blur(35rem);
}
.bg_objects::after {
    content: "";
    position: absolute;
    right: -7%;
    top: 28%;
    z-index: 1;
    width: 500px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(0, 100, 255, 0.6);
    filter: blur(40rem);
}
.bg_objects .obj3 {
    position: absolute;
    left: -20%;
    top: 35%;
    z-index: 1;
    width: 600px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(0, 100, 255, 0.6);
    filter: blur(35rem);
}
.bg_objects .obj4 {
    position: absolute;
    right: -7%;
    top: 45%;
    z-index: 1;
    width: 500px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(0, 100, 255, 0.6);
    filter: blur(40rem);
}

.rnd {
    padding: 180px 0;
    position: relative; /* before, after 정렬 기준 */
    overflow: hidden;
}
.rnd .wrapper {
    position: relative;
    z-index: 10;
}
.rnd .rnd_tit {
    max-width: 40.55%;
}
.rnd .rnd_tit h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-white);
    margin: 0 0 10px 0;
}
.rnd .rnd_tit h3 span {
    color: var(--color-main);
}
.rnd .rnd_list {
    margin: 130px 0 0 0;
}
.rnd .rnd_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rnd .rnd_cont {
    margin: 0 0 153px 0;
}
.rnd .rnd_cont.tit_right {
    flex-direction: row-reverse;
}
.rnd .rnd_cont .photo {
    overflow: hidden;
    width: 577px;
    border-radius: 20px;
    line-height: 0;
}
.rnd .rnd_cont .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.biz {
    padding: 180px 0 0 0;
}
.biz .tit,
.biz .biz_intfo .biz_info_list {
    position: relative;
    z-index: 10;
}
.biz .biz_intfo .biz_info_list {
    display: flex; /* li 좌우 배치 */
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    position: relative; /* before 정렬 기준 */
}
.biz .biz_intfo .biz_info_list::before {
    content: "";
    position: absolute; /* biz_info_list 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-white3);
}
.biz .biz_intfo .biz_info_list::after {
    content: "";
    position: absolute; /* biz_info_list 기준 정렬 */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-white3);
} 
.biz .biz_intfo .biz_info_list .biz_info {
    width: 50%;
    position: relative; /* after 정렬 기준 */
}
.biz .biz_intfo .biz_info_list .biz_info::after {
    content: "";
    position: absolute; /* biz_info 기준 정렬 */
    right: 0;
    top: 1px;
    width: 1px;
    height: calc(100% - 2px);
    background-color: var(--color-white3);
}
.biz .biz_intfo .biz_info_list .biz_info a {
    height: 794px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.biz .biz_intfo .biz_info_list .biz_info a .photo {
    overflow: hidden;
    height: 353px;
    margin: 122px 0 79px 0;
    text-align: center;
}
.biz .biz_intfo .biz_info_list .biz_info.item01 a .photo {
    width: 613px;
}
.biz .biz_intfo .biz_info_list .biz_info.item02 a .photo {
    width: 370px;
}
.biz .biz_intfo .biz_info_list .biz_info a .txt {
    text-align: center;
    margin-bottom: 121px;
}
.biz .biz_intfo .biz_info_list .biz_info a .txt strong {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-white8);
}
.biz .biz_intfo .biz_info_list .biz_info a .txt h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-white);
    margin: 11px 0 21px 0;
}
.biz .biz_intfo .biz_info_list .biz_info a .txt .more {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--color-white8);
    position: relative; /* after 정렬 기준 */
}
.biz .biz_intfo .biz_info_list .biz_info a .txt .more::after {
    content: "";
    position: absolute; /* more 기준 정렬 */
    right: -12.3px;
    top: 7.17px;
    width: 6px;
    height: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 5.54px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 10' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.709625 9.65375L0 8.94413L4.11725 4.82688L0 0.709625L0.709625 0L5.5365 4.82688L0.709625 9.65375Z' /%3E%3C/svg%3E%0A");
    opacity: 0.8;
}
/* a:hover 스타일 */
.biz .biz_intfo .biz_info_list .biz_info a:hover {

}

.product {
    padding: 320px 0 117px 0;
}