/***********************************
* 파일명 : main.css
* 작성자 : 신수진
* 작성일 : 25-11-12
************************************/

@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);

.bg_wrap {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}
.bg_objects {
    pointer-events: none;
    width: 100%;
    height: 100%;
}
.bg_objects .obj1 {
    content: "";
    position: absolute;
    left: -10%;
    top: 15%;
    width: clamp(180px, 53vw, 700px);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(0, 100, 255, 0.6);
    filter: blur(30rem);
}
.bg_objects .obj2 {
    content: "";
    position: absolute;
    right: -21%;
    top: 36%;
    width: clamp(180px, 53vw, 700px);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(0, 100, 255, 0.6);
    filter: blur(35rem);
}
.bg_objects .obj3 {
    content: "";
    position: absolute;
    left: -13%;
    top: 53%;
    width: clamp(180px, 53vw, 700px);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgba(0, 100, 255, 0.6);
    filter: blur(30rem);
}
@media screen and (max-width:1320px) {
    .bg_objects .obj1,
    .bg_objects .obj2,
    .bg_objects .obj3 {
        filter: blur(30rem);
    }
    .bg_objects .obj2 {
        top: 43%;
    }
    .bg_objects .obj3 {
        top: 56%;
    }
}
@media screen and (max-width:1024px) {
    .bg_objects .obj1,
    .bg_objects .obj2,
    .bg_objects .obj3 {
        filter: blur(20rem);
    }
    .bg_objects .obj1 {
        left: -16%;
    }
    .bg_objects .obj2 {
        right: -32%;
        top: 42%;
    }
    .bg_objects .ob3 {
        top: 57%;
    }
}
@media screen and (max-width:768px) {
    .bg_objects .obj1,
    .bg_objects .obj2,
    .bg_objects .obj3 {
        filter: blur(15rem);
    }
    .bg_objects .obj1 {
        left: -15%;
    }
    .bg_objects .obj2 {
        top: 41%;
    }
    .bg_objects .obj3 {
        top: 58%;
    }
}
@media screen and (max-width:500px) {
    .bg_objects .obj1,
    .bg_objects .obj2,
    .bg_objects .obj3 {
        filter: blur(11rem);
    }
    .bg_objects .obj1 {
        left: -14%;
    }
    .bg_objects .obj2 {
        top: 31%;
    }
    .bg_objects .obj3 {
        top: 50%;
    }
}

section .tit {
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
}
section .tit strong {
    display: block;
    font-size: clamp(1.6rem, 1.5vw, 2rem);
    color: var(--color-main);
    margin-bottom: 17px ;
}
section .tit h2 {
    font-size: clamp(2.5rem, 3.8vw, 5rem);
    color: var(--color-white);
}
@media screen and (max-width:768px){
    section .tit strong {
        margin-bottom: 8px;
    }
}

.visual {
    position: relative; /* ctrl_btn 정렬 기준 */
    color: var(--color-white);
}
.visual .swiper {
    width: 100%;
    overflow: hidden;
}
.visual .swiper-slide {
    position: relative; /* photo 정렬 기준 */
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual .swiper-slide .photo {
    position: absolute; /* swiper-slide 기준 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.2, 1.2, 1);
    transition: 2s;
    transition-delay: 0.2s;
}
.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1, 1, 1);
}
.visual .swiper-slide .txt {
    margin: 0 var(--wrapper-m) 40dvh 10%;
}
.visual .swiper-slide .txt h3 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 21px;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide .txt p {
    font-size: 2rem;
    transition: 1s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active .txt h3,
.visual .swiper-slide.swiper-slide-active .txt p {
    transform: translateY(0);
    opacity: 1;
    transition: transform 1s ease, opacity 1s ease;
}
.visual .ctrl_wrap {
    position: absolute; /* visual 기준 정렬 */
    left: 10%;
    right: 0;
    bottom: 32dvh;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0 12px;
}
.visual .ctrl_wrap .paging {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.visual .ctrl_wrap .paging .bar {
    position: relative; /* span 정렬 기준 */
    width: clamp(128px, 31vw, 410px);
    height: 2px;
    background: var(--color-white3);
}
.visual .ctrl_wrap .paging .bar span {
    position: absolute; /* bar 기준 정렬 */
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_wrap .ctrl_btn {
    display: flex;
    align-items: center;
    gap: 0 12px;
}
.visual .ctrl_wrap .ctrl_btn .btn_prev,
.visual .ctrl_wrap .ctrl_btn .btn_next {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 8.02px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99261 13.9852L8.02063 12.9572L2.05605 6.9926L8.02063 1.02802L6.99261 0L1.01859e-05 6.9926L6.99261 13.9852Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap .ctrl_btn .btn_next {
    transform: rotate(180deg);
}
.visual .ctrl_wrap .play_stop .btn_play,
.visual .ctrl_wrap .play_stop .btn_stop {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--color-white1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px;
}
.visual .ctrl_wrap .play_stop .btn_play {
    display: none; /* stop을 누르면 나옴 */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 14V0L10 7L0 14Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap .play_stop .btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.41304 14V0H10V14H6.41304ZM0 14V0H3.58696V14H0Z' /%3E%3C/svg%3E%0A");
}  

@media screen and (min-width:769px) and (max-width:1024px){
    .visual .swiper-slide .txt h3 {
        font-size: 4.7rem;
        margin-bottom: 21px;
    }
    .visual .swiper-slide .txt p {
        font-size: 1.8rem;
    }
}
@media screen and (max-width:768px){
    .visual .swiper-slide .txt h3 {
        font-size: 3.4rem;
        margin-bottom: 17px;
    }
    .visual .swiper-slide .txt p {
        font-size: 1.6rem;
    }
}/*media*/
@media screen and (max-width:400px){
    .visual .swiper-slide .txt h3 br {
        display: none;
    }
}

.rnd .tit .h2 {
    color: var(--color-white);
}
.rnd .rnd_pc {
    margin-top: 200px;
}
.rnd .rnd_pc .accordion_wrap .accordion {
    margin-top: 140px;
    flex-shrink: 0;
}
.rnd .rnd_pc .accordion_wrap .accordion .conts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 83%;
    height: 500px;
    margin: 0 8.49%;
    padding: 60px;
    border-radius: 20px;
    color: var(--color-white);
    position: relative; /* before 정렬 기준 */
    z-index: 1;
    overflow: hidden;
}
.rnd .rnd_pc .accordion_wrap .accordion .conts.light {
    background-image: url(../images/main/rnd01.jpg);
}
.rnd .rnd_pc .accordion_wrap .accordion .conts.adherence {
    background-image: url(../images/main/rnd02.jpg);
}
.rnd .rnd_pc .accordion_wrap .accordion .conts.future {
    background-image: url(../images/main/rnd03.jpg);
}
.rnd .rnd_pc .accordion_wrap .accordion .conts::before {
    content: "";
    position: absolute; /* conts 기준 정렬 */
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.rnd .rnd_pc .accordion_wrap .accordion .conts .txt h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 13px;
}
.rnd .rnd_pc .accordion_wrap .accordion .conts .txt p {
    color: var(--color-white8);
}
.rnd .rnd_mo {
    display: none;
}
@media screen and (max-width:1024px){
   .rnd .rnd_pc .accordion_wrap .accordion{
        margin-top: 110px;
    }
   .rnd .rnd_pc .accordion_wrap .accordion .conts {
        height: 400px;
    }
   .rnd .rnd_pc .accordion_wrap .accordion .conts .txt h3 {
        font-size: 2.8rem;
    }
}/*media*/
@media screen and (max-width:768px){
    .rnd .rnd_pc .accordion_wrap .accordion .conts {
        height: 300px;
        padding: 40px;
    }
    .rnd .rnd_pc .accordion_wrap .accordion .conts .txt {
        text-align: center;
    }
   .rnd .rnd_pc .accordion_wrap .accordion .conts .txt h3 {
        font-size: 2.4rem;
    }
}/*media*/
@media screen and (max-width:500px){
    .rnd .rnd_pc {
        display: none;
    }
    .rnd .rnd_mo {
        display: block;
    }
    .rnd .rnd_mo {
        margin-top: 120px;
    }
    .rnd .rnd_mo .list {
        margin-top: 50px;
        overflow-x: auto;
    }
    .rnd .rnd_mo .list ul {
        display: flex;
        gap: 0 20px;
        width: 895px;
        margin: 0 var(--wrapper-m);
    }
    /*
        li의 넓이(285px) * 3 = 855px
        li 사이의 여백(20px) * 2= 40px
        855 + 40 = 895px
    */
    .rnd .rnd_mo .list ul li {
        width: 285px;
    }
    .rnd .rnd_mo .list ul li .photo {
        overflow: hidden;
        border-radius: 10px;
        line-height: 0;
    }
    .rnd .rnd_mo .list ul li .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .rnd .rnd_mo .list ul li .txt {
        margin: 20px 0 0 7px;
    }
    .rnd .rnd_mo .list ul li .txt h3 {
        font-size: 2.2rem;
        font-weight: 800;
        line-height: 1.3;
        color: var(--color-white);
        margin-bottom: 11px;
    }
    .rnd .rnd_mo .list ul li .txt p {
        color: var(--color-white8);
        margin-bottom: 10px;
    }
}

.biz {
    margin-top: calc(330px + 150px);
}
.biz .tit .h2 {
    color: var(--color-white);
}
.biz .biz_info .biz_list {
    display: flex; /* li 좌우 배치 */
    width: 100%;
    margin-top: clamp(85px, 9.2vw, 120px);
    overflow: hidden;
    border-top: 1px solid var(--color-white3);
    border-bottom: 1px solid var(--color-white3);
}
.biz .biz_info .biz_list li {
    width: 50%;
    transition: width 0.5s;
    position: relative; /* before 정렬 기준 */
}
.biz .biz_info .biz_list li + li::before {
    content: "";
    position: absolute; /* li 기준 정렬 */
    z-index: 1;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: var(--color-white3);
}
.biz .biz_info .biz_list li a {
    position: relative; /* before 정렬 기준 */
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(73px, 9vw, 122px) 0 clamp(73px, 9vw, 122px) 0;
    height: 100%;
    transition-delay: 0.5s;
}
/* hover 배경을 위한 레이어 */
.biz .biz_info .biz_list li a::before {
    content: "";
    position: absolute; /* a 기준 정렬 */
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: opacity 2s;
}
.biz .biz_info .biz_list li a::after {
    content: "";
    position: absolute; /* a 기준 정렬 */
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.biz .biz_info .biz_list li a .photo {
    overflow: hidden;
    height: clamp(220px, 21vw, 353px);
    margin-bottom: clamp(30px, 6vw, 79px);
    transition: opacity 1s;
}
.biz .biz_info .biz_list li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.biz .biz_info .biz_list li a .inner {
    transition: 0.5s;
}
.biz .biz_info .biz_list li a .txt-box {
    text-align: center;
    white-space: nowrap;
    opacity: 1;
    transition: opacity 0.5s;
}
.biz .biz_info .biz_list li a .txt-box strong {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-white8);
}
.biz .biz_info .biz_list li a .txt-box h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-white);
    margin-top: 11px;
}
.biz .biz_info .biz_list li a .txt-box .more {
    margin: 24px 0 0 0;
    display: inline-block;
    font-size: 1.5rem;
    color: var(--color-white8);
    position: relative;
}
.biz .biz_info .biz_list li a .txt-box .more::after {
    content: "";
    position: absolute;  /* more 기준 정렬 */ 
    right: -0.82em;
    top: 0.4447em;
    width: 0.4em;
    height: 0.6667em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0.3693em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 10' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.709625 9.65375L0 8.94413L4.11725 4.82688L0 0.709625L0.709625 0L5.5365 4.82688L0.709625 9.65375Z' /%3E%3C/svg%3E%0A");
    opacity: 0.8;
}
.biz .biz_info .biz_list li a .txt-in {
    opacity: 0;
    height: 0;
    transition: 0s;
}
.biz .biz_info .biz_list li a .txt-in h3 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-white);
}
.biz .biz_info .biz_list li a .txt-in p {
    color: var(--color-white8);
    margin-top: 14px;
}
.biz .biz_info .biz_list li a .txt-in .more {
    margin: 24px 0 0 0;
    display: inline-block;
    font-size: 1.5rem;
    color: var(--color-white8);
    position: relative;
}
.biz .biz_info .biz_list li a .txt-in .more::after {
    content: "";
    position: absolute;  /* more 기준 정렬 */ 
    right: -0.82em;
    top: 0.4447em;
    width: 0.4em;
    height: 0.6667em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0.3693em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 10' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.709625 9.65375L0 8.94413L4.11725 4.82688L0 0.709625L0.709625 0L5.5365 4.82688L0.709625 9.65375Z' /%3E%3C/svg%3E%0A");
    opacity: 0.8;
}
/************** li:hover 스타일 *************/
.biz .biz_info .biz_list li.item01:hover,
.biz .biz_info .biz_list li.item02:hover {
    width: 80%;
}
.biz .biz_info .biz_list li:hover a {
    justify-content: flex-end;
    align-items: flex-start;
}
.biz .biz_info .biz_list li:hover a::before {
    opacity: 1; /* 배경 페이드인 */
}
.biz .biz_info .biz_list li.item01:hover a::before {
    background-image: url(../images/main/biz01_hover.jpg);
}
.biz .biz_info .biz_list li.item02:hover a::before {
    background-image: url(../images/main/biz02_hover.jpg);
}
.biz .biz_info .biz_list li:hover a .photo {
    height: 0;
    margin-bottom: 0;
    opacity: 0;
}
.biz .biz_info .biz_list li:hover a .inner {
    padding-left: 70px;
}
.biz .biz_info .biz_list li:hover a .txt-box {
    opacity: 0;
    height: 0;
    transition: 0s;
}
.biz .biz_info .biz_list li:hover a .txt-in {
    opacity: 1;
    height: 100%;
    transition: opacity 0.5s;
    transition-delay: 0.4s;
}
@media screen and (max-width:1024px){
    .biz .biz_info .biz_list li:hover a .inner {
        padding: 0 50px;
    }
    .biz .biz_info .biz_list li a .txt-box h3 {
        font-size: 2.8rem;
    }
    .biz .biz_info .biz_list li:hover a .txt-in {
        transition-delay: 0.4s;
    }
    .biz .biz_info .biz_list li a .txt-in h3 {
        font-size: 3.2rem;
    }
    .biz .biz_info .biz_list li a .txt-in p {
        color: var(--color-white8);
        margin-top: 14px;
    }
    .biz .biz_info .biz_list li a .txt-in p br {
        display: none;
    }
}/*media*/
@media screen and (max-width:768px){
    .biz .biz_info .biz_list {
        display: block;
    }
    .biz .biz_info .biz_list li {
        width: 100%;
    }
    .biz .biz_info .biz_list li.item01:hover,
    .biz .biz_info .biz_list li.item02:hover {
        width: 100%;
    }
    .biz .biz_info .biz_list li + li::before {
        width: 100%;
        height: 1px;
    }
    .biz .biz_info .biz_list li:hover a {
        padding: clamp(73px, 9vw, 122px) 0 clamp(73px, 9vw, 122px) 0;
        justify-content: center;
        align-items: center;
    }
    .biz .biz_info .biz_list li a::before {
        display: none;
    }
    .biz .biz_info .biz_list li:hover a .photo {
        height: clamp(220px, 21vw, 353px);
        margin-bottom: clamp(30px, 6vw, 79px);
        opacity: 1;
    }
    .biz .biz_info .biz_list li:hover a .inner {
        padding: 0;
    }
    .biz .biz_info .biz_list li:hover a .txt-box {
        opacity: 1;
        height: 100%;
        transition: none;
    }
    .biz .biz_info .biz_list li a .txt-box strong {
        font-size: 1.4rem;
    }
    .biz .biz_info .biz_list li a .txt-box h3 {
        font-size: 2.4rem;
    }
    .biz .biz_info .biz_list li a .txt-box .more {
        font-size: 1.2rem;
    }
    .biz .biz_info .biz_list li a .txt-in {
        display: none;
    }
}
@media screen and (max-width:500px){
    .biz {
        margin-top: 194px;
    }
}

.product {
    padding: clamp(140px, 24vw, 320px) 0 clamp(74px, 19vw, 252px) 0;
    background: url(../images/main/product_bg.jpg) no-repeat center center / cover;
}
.product .tit .h2 {
    color: var(--color-white);
}
.product .tab_list {
    margin: clamp(20px, 3vw, 40px) 0 clamp(40px, 5.3vw, 70px) 0;
}
.product .tab_list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 40px;
}
.product .tab_list ul li button {
    display: block;
    padding: 6.5px 36.5px;
    border: 1px solid var(--color-white6);
    border-radius: 25px;
    color: var(--color-white8);
}
.product .tab_list ul li.active button {
    border-color: var(--color-main);
    background-color: var(--color-main);
    color: var(--color-white);
}
.product .tab_content .tab_item {
    display: none;
    position: relative;
}
.product .tab_content .tab_item.active {
    display: block;
}
.product .tab_content .tab_item .list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    /* 브라우저 기준 가로 중앙 */
}
/************* swiper 기본 스타일 ***************/
.product .tab_content .tab_item .swiper-wrapper {
    align-items: center;
}
.product .tab_content .tab_item .list .swiper-slide {
    width: clamp(500px, 45vw, 590px);
    height: clamp(300px, 30vw, 390px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    opacity: 0.65;
    filter: blur(1px);
    transition: opacity 0.5s, filter 0.6s;
    overflow: hidden;
    position: relative;
}
.product .tab_content .tab_item .list .swiper-slide::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.product .tab_content .tab_item .list .swiper-slide a {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding: 45px;
    position: relative;
    z-index: 10;
    text-align: left;
}
.product .tab_content .tab_item .list .swiper-slide a .txt {
    color: var(--color-white);
    word-break: break-all;
}
.product .tab_content .tab_item .list .swiper-slide a .txt h4 {
    font-weight: 700;
    line-height: 1.3;
    white-space: nowrap;
}
.product .tab_content .tab_item .list .swiper-slide a .txt p {
    display: none;
}
/************* swiper active 추가 공통 스타일 ***************/
.product .tab_content .tab_item .list .swiper-slide.swiper-slide-active {
    position: relative; /* aftrer 정렬 기준 */
    opacity: 1;
    filter: blur(0px) brightness(1.05);
}
.product .tab_content .tab_item .list .swiper-slide.swiper-slide-active::before {
    display: none;
}
.product .tab_content .tab_item .list .swiper-slide.swiper-slide-active::after {
    content: "";
    position: absolute; /* a 기준 정렬 */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.product .tab_content .tab_item .list .swiper-slide.swiper-slide-active a {
    padding: 45px;
}
.product .tab_content .tab_item .list .swiper-slide.swiper-slide-active a .txt h4 {
    font-size: 3.2rem;
}
.product .tab_content .tab_item .list .swiper-slide.swiper-slide-active a .txt p {
    display: block;
    margin-top: 12px;
}
/************* swiper active 추가 공통 스타일 ***************/
.product .tab_content .tab_item.item01 .list .swiper-slide.item01 {
    background-image: url(../images/main/product01_1.jpg);
}
.product .tab_content .tab_item.item01 .list .swiper-slide.item02 {
    background-image: url(../images/main/product01_2.jpg);
}
.product .tab_content .tab_item.item01 .list .swiper-slide.item03 {
    background-image: url(../images/main/product01_3.jpg);
}
.product .tab_content .tab_item.item01 .list .swiper-slide.item04 {
    background-image: url(../images/main/product01_4.jpg);
}
.product .tab_content .tab_item.item01 .list .swiper-slide.item05 {
    background-image: url(../images/main/product01_5.jpg);
}
.product .tab_content .tab_item.item02 .list .swiper-slide.item01 {
    background-image: url(../images/main/product02_1.jpg);
}
.product .tab_content .tab_item.item02 .list .swiper-slide.item02 {
    background-image: url(../images/main/product02_2.jpg);
}
.product .tab_content .tab_item.item02 .list .swiper-slide.item03 {
    background-image: url(../images/main/product02_3.jpg);
}
.product .tab_content .tab_item.item02 .list .swiper-slide.item04 {
    background-image: url(../images/main/product02_4.jpg);
}
.product .tab_content .tab_item.item02 .list .swiper-slide.item05 {
    background-image: url(../images/main/product02_5.jpg);
}
.product .tab_content .tab_item.item02 .list .swiper-slide.item06 {
    background-image: url(../images/main/product02_6.jpg);
}
.product .tab_content .tab_item.item02 .list .swiper-slide.item07 {
    background-image: url(../images/main/product02_7.jpg);
}
.product .tab_content .tab_item .ctrl_btn {
    position: absolute;
    left: 50%;
    bottom: -28%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0 37px;
    color: var(--color-white);
}
.product .tab_content .tab_item .ctrl_btn button {
    display: block;
    width: 13px;
    height: 23px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12.91px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 11' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.07458 10.1492L5.82062 9.40313L1.49207 5.07459L5.82062 0.746043L5.07458 0L-1.38283e-05 5.07459L5.07458 10.1492Z' /%3E%3C/svg%3E%0A");
}
.product .tab_content .tab_item .ctrl_btn .paging {
    width: auto;
    text-align: center;
}
.product .tab_content .tab_item .ctrl_btn .next {
    transform: rotate(180deg);
}
@media screen and (max-width:1024px){
    .product .tab_list ul {
        gap: 0 20px;
    }
    .product .tab_content .tab_item .list .swiper-slide.swiper-slide-active::after {
        height: 100%;
    }
    .product .tab_content .tab_item .list .swiper-slide.swiper-slide-active a .txt h4 {
        font-size: clamp(2.4rem, 2.8vw, 2.8rem);
    }
}/*media*/
@media screen and (max-width:768px){
    .product {
        background-image: url(../images/main/product_bg_mo.jpg);
    }
    .product .tab_content .tab_item .list .swiper-slide {
        width: 285px;
        height: 375px;
        border-radius: 10px;
        opacity: 1;
    }
    .product .tab_content .tab_item .list .swiper-slide::before {
        background: rgba(0, 0, 0, 0.8);
    }
    .product .tab_content .tab_item .list .swiper-slide a {
        padding: 30px 20px;
        justify-content: flex-start;
    }
    .product .tab_content .tab_item .list .swiper-slide a .txt h4 {
        font-size: 2.4rem;
        white-space: wrap;
        color: var(--color-white6);
    }
    .product .tab_content .tab_item .list .swiper-slide.swiper-slide-active a .txt h4 {
        color: var(--color-white);
    }
    .product .tab_content .tab_item .list .swiper-slide a .txt p {
        display: none;
    }
    /************* swiper active 추가 공통 스타일 ***************/
    .product .tab_content .tab_item .list .swiper-slide.swiper-slide-active {
        width: 285px;
        height: 375px;
    }
    .product .tab_content .tab_item .list .swiper-slide.swiper-slide-active a {
        padding: 30px 20px;
    }
    .product .tab_content .tab_item .list .swiper-slide.swiper-slide-active a .txt p {
        display: none;
    }
    .product .tab_content .tab_item .ctrl_btn {
        display: none;
    }
}/*media*/

.news {
    padding: clamp(120px, 13vw, 180px) 0 clamp(74px, 9vw, 117px) 0;
    background-color: var(--color-white);
}
.news .tit h2 {
    color: var(--color-txt-title);
}
.news .list {
    margin-top: clamp(60px, 6.15vw, 80px);
}
.news .list .swiper-slide {
    width: 297px;
    border-top: 1px solid var(--color-txt-title);
    position: relative; /* before 정렬 기준 */
}
.news .list .swiper-slide::before {
    content: "";
    position: absolute; /* swiper-slide 기준 정렬 */
    left: 0;
    top: -1px;
    background-color: var(--color-main);
    width: 0;
    height: 1px;
    transition: width 0.3s;
}
.news .list .swiper-slide:hover::before {
    width: 100%;
}
.news .list .swiper-slide a {
    display: block;
    padding-top: 1.5em;
}
.news .list .swiper-slide a h3 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-txt-title);
    /* 2줄 제한 */
    line-height: 1.3;
    height: 2.6em;
    overflow: hidden;
}
.news .list .swiper-slide a p {
    line-height: 1.8;
    margin: 1em 0 0.75em 0;
    /* 3줄 제한 */
    line-height: 1.8;
    height: 5.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.news .list .swiper-slide a span {
    display: block;
    font-size: 1.7rem;
    color: rgba(68, 74, 85, 0.8);
}
.news .list .swiper-slide a .photo {
    overflow: hidden;
    height: 175px;
    margin-top: 0.75em;
    border: 1px solid #f4f4f4;
}
.news .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
.news .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.news .list .scrollbar {
    width: 100%;
    height: 5px;
    background-color: #ededed;
    border-radius: 3px;
    margin-top: clamp(29px, 3.38vw, 44px);
}
.news .list .scrollbar .swiper-scrollbar-drag {
    background-color: var(--color-main);
}
.news .more {
    display: flex;
    justify-content: center;
    margin-top: clamp(40px, 5.38vw, 70px);
}
.news .list .more a {
    display: block;
    font-size: 1.7rem;
    position: relative; /* after 정렬 기준 */
    transition: color 0.3s;
}
.news .list .more a:hover {
    color: var(--color-main);
}
.news .list .more a::after {
    content: "";
    position: absolute;  /* more 기준 정렬 */ 
    right: -0.82em;
    top: 0.3447em;
    width: 0.4em;
    height: 0.6667em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0.3693em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 10' fill='%23444A55' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.709625 9.65375L0 8.94413L4.11725 4.82688L0 0.709625L0.709625 0L5.5365 4.82688L0.709625 9.65375Z' /%3E%3C/svg%3E%0A");
    transition: fill 0.3s;
}
.news .list .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 10' fill='%230064FF' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.709625 9.65375L0 8.94413L4.11725 4.82688L0 0.709625L0.709625 0L5.5365 4.82688L0.709625 9.65375Z' /%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px){
    .news .list .swiper-slide a h4 {
        font-size: 2.2rem;
    }
    .news .list .more a {
        font-size: 1.4rem;
    }
}
@media screen and (max-width:768px){
    .news .list .swiper-slide a h4 {
        font-size: 2rem;
    }
}
@media screen and (max-width:400px){
    .news .tit h2 br {
        display: none;
    }
}

.recruit {
    color: var(--color-white);
    padding: clamp(48px, 10.84vw, 141px) 0;
    position: relative;
    z-index: 0;
}
.recruit .photo {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.recruit .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transform: scale3d(1.2, 1.2, 1);
}
.recruit .txt {
    display: flex;
    justify-content: center;
}
.recruit .txt a {
    display: block;
    text-align: center;
}
.recruit .txt a h2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
}
.recruit .txt a .more  {
    display: inline-block;
    font-size: 1.7rem;
    color: var(--color-white8);
    position: relative; /* after 정렬 기준 */
    margin-top: 20px;
}
.recruit .txt a .more::after {
    content: "";
    position: absolute;  /* more 기준 정렬 */ 
    right: -0.82em;
    top: 0.4447em;
    width: 0.4em;
    height: 0.6667em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0.3693em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 10' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.709625 9.65375L0 8.94413L4.11725 4.82688L0 0.709625L0.709625 0L5.5365 4.82688L0.709625 9.65375Z' /%3E%3C/svg%3E%0A");
    opacity: 0.8;
}
@media screen and (max-width:1024px){
    .recruit .txt a h2 {
        font-size: 2.8rem;
    }
    .recruit .txt a .more {
        font-size: 1.4rem;
    }
}
@media screen and (max-width:768px){
    .recruit .txt a h2 {
        font-size: 2.4rem;
    }
    .recruit .photo img {
        object-position: 41% center;
    }
}