/***********************************
* 파일명 : main.css
* 작성자 : 신수진
* 작성일 : 25-11-12
************************************/

@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);

body {
    margin: 100px 0 0 50px;
}
h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-txt-title);
    margin-bottom: 22px;
}
