/* 모든 페이지에서 중복되는 스타일 */
:root {
    --color-txt-title : #181A1C;
    --color-txt-basic : #666666;
    --color-white : #fff;
    --color-white5 : rgba(255, 255, 255, 0.5);
    --color-white3 : rgba(255, 255, 255, 0.3);
    --color-blue900 : #0E4A84;
    --color-blue800 : #00509E;
    --color-blue700 : #0068DA;
    --color-blue600 : #1A73E8;
    --color-blue500 : #2982FF;
    --color-blue-point : #00BAFF;
    --color-blue-light01 : #E8F5FD;
    --color-blue-light02 : #F3F8FB;
    --color-gray01 : #898C8E;
    --color-gray02 : #E8E8E8;
    --color-gray03 : #F9F9F9;
    --color-linear01 : linear-gradient(180deg, #0864BD, #2982FF);
    --color-linear02 : linear-gradient(180deg, #003B71, #0070D7);
    --header-h : 90px;
    --wrapper-m : 48px
}
@media screen and (max-width:1024px){
    :root {
        --header-h : 80px;
        --wrapper-m : 32px
    }
}/*media*/
@media screen and (max-width:768px){
    :root {
        --header-h : 70px;
        --wrapper-m: 16px
    }
}/*media*/

html {
    font-size: 10px;
}

body {
    font-family: 'Paperozi', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-txt-basic);
    word-break: keep-all; /* 단어별로 강제 줄 바꿈 */
    word-wrap: break-word; /* 단어가 너무 길 때  강제 줄 바꿈 */
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    padding-inline: 48px;
    margin: 0 auto;
}
@media screen and (max-width:1024px){
    .wrapper {
        padding-inline: 32px;
        max-width: 100%;
    }
}/*media*/
@media screen and (max-width:768px){
    .wrapper {
        padding-inline: 16px;
    }
}/*media*/
#wrap {
    position: relative; /* header 정렬 기준 */
    z-index: 10;
}

.blind {
    position: absolute;
    clip: rect(0, 0, 0, 0); /* 도형: 네모( ); */
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.mo_only { /* 모바일에서만 보임 */
    display: none;
}
@media screen and (max-width:768px){
    .mo_only {
        display: block;
    }
    .pc_only {
        display: none;
    }
}/*media*/
