/* 기본스타일 */

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}
strong {
    font-weight: inherit;
}
em, address {
    font-style: normal; /* 기울임 취소 */
}
ol, ul, li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent; /* 투명하게 변경 */
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    cursor: pointer;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* padding과 width/height를 같이 주면 사이즈가 늘어나는 현상 막기 */
}
fieldset {
    border: none;
}
legend {
    display: none;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}
input[type="submit"] {
    cursor: pointer;
}
table caption {
    display: none; /* 설명글 숨김 */
}
table th {
    font-weight: inherit;
}