@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);

.visual {
    position: relative; /* photo, scroll 정렬 기준 */
    height: 100dvh;
    min-height: 750px;
}
.visual .photo {
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.visual .photo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.visual .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .tit_box {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: end;
    padding-bottom: 136px;
}
.visual .tit {
    display: inline-block;
    position: relative; /* btn_wrap 정렬 기준 */
    color: var(--color-white);
}
.visual .tit h2 {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 17px;
}
.visual .tit p {
    font-size: 2.4rem;
}
.visual .tit .btn_wrap {
    position: absolute;
    right: 94px;
    bottom: -11px;
}
.visual .tit .btn_wrap .btn_stop,
.visual .tit .btn_wrap .btn_play {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid var(--color-white5);
    background-color: rgba(217, 217, 217, 0.1);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px;
}
.visual .tit .btn_wrap .btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 14V0H12V14H8ZM0 14V0H4V14H0Z' /%3E%3C/svg%3E%0A");
}
.visual .tit .btn_wrap .btn_play {
    display: none;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L1.03296e-07 14L7.15256e-07 -5.24537e-07L12 7Z'/%3E%3C/svg%3E%0A");
}
.visual .scroll {
    position: absolute;
    right: 32px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
}
.visual .scroll .txt {
    transform: rotate(90deg);
    font-size: 1.4rem;
    color: var(--color-white);
}
.visual .scroll .line {
    position: relative;
    width: 2px;
    height: 110px;
    background-color: var(--color-white3);
}
.visual .scroll .line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--color-white);
    animation: updown 3s ease-in-out infinite;
}
@keyframes updown { 
    0% {height:0%}
    100% {height:100%}
}
@media screen and (max-width:1024px){
    .visual .tit_box {
        padding-bottom: 147px;
    }
    .visual .tit {
        display: block;
        text-align: center;
    }
    .visual .tit h2 {
        font-size: clamp(2.4rem, 4vw, 4rem);
        margin-bottom: 10px;
    }
    .visual .tit p {
        font-size: clamp(1.6rem, 2vw, 2rem);
    }
    .visual .tit .btn_wrap {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: -71%;
    }
    .visual .tit .btn_wrap .btn_stop,
    .visual .tit .btn_wrap .btn_play {
        width: 52px;
        height: 52px;
        border-radius: 50%;
        border: 1px solid var(--color-white5);
        background-color: rgba(217, 217, 217, 0.1);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 12px;
    }
    .visual .tit .btn_wrap .btn_stop {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 14V0H12V14H8ZM0 14V0H4V14H0Z' /%3E%3C/svg%3E%0A");
    }
    .visual .tit .btn_wrap .btn_play {
        display: none;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L1.03296e-07 14L7.15256e-07 -5.24537e-07L12 7Z'/%3E%3C/svg%3E%0A");
    }
}