/* 모든 페이지에서 중복되는 스타일 */
:root {
    --color-txt-title : #2C1D12;
    --color-txt-basic : #6B6159;
    --color-white : #fff;
    --color-white8 : rgba(255, 255, 255, 0.8);
    --color-white7 : rgba(255, 255, 255, 0.7);
    --color-white3 : rgba(255, 255, 255, 0.2);
    --color-white2 : rgba(255, 255, 255, 0.3);
    --font-sizeh2 : 5.6rem;
    --header-h : 80px;
    --wrapper-m : 50px;
}
@media screen and (max-width:1024px){
    :root {
        --header-h : 70px;
        --wrapper-m : 30px;
        --font-sizeh2: clamp(3.6rem, 4.46vw, 5.6rem);
    }
}/*media*/
@media screen and (max-width:768px){
    :root {
        --header-h : 60px;
        --wrapper-m : 16px;
        --font-sizeh2: clamp(2.8rem, 4.68vw, 3.6rem);
    }
}/*media*/

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--color-txt-basic);
    word-break: keep-all; /* 단어별로 강제 줄 바꿈 */
    word-wrap: break-word; /* 단어가 너무 길 때  강제 줄 바꿈 */
}

.wrapper {
    width: 1440px;
    margin: 0 auto; /* 가운데 정렬 */
}
@media screen and (max-width:1540px) {
    .wrapper {
        width: auto;
        margin: 0 var(--wrapper-m);
    }
}/*media*/
#wrap {
    position: relative; /* header 정렬 기준 */
    z-index: 10;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0); /* 도형: 네모( ); */
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.txt_eng {
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.txt_kr {
    font-family: 'NanumMyeongjo';
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
}


.mo_only { /* 모바일에서만 보임 */
    display: none;
}
@media screen and (max-width:1024px){
    body {
        font-size: 1.5rem;
    }
}/*media*/
@media screen and (max-width:768px){
    .mo_only {
        display: block;
    }
    .pc_only {
        display: none;
    }
    body {
        font-size: clamp(1.4rem, 2vw, 1.5rem);
    }
}/*media*/

::selection { /* 글자 긁을 때 나오는 컬러 */
    background-color: #D1B48C;
    color: var(--color-white);
}

aside.quick {
    position: fixed;
    right: clamp(16px, 1.5vw, 30px);
    bottom: 25px;
    z-index: 99;
    transition: opacity 0.3s;
}
aside.quick.hide {
    opacity: 0;
    pointer-events: none;
}
aside.quick .book,
aside.quick .top {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #f9f9f9;
    background-color: var(--color-white);
    box-shadow: 0 4px 8px 0.3px rgba(0, 0, 0, 0.08);
}
aside.quick .book {
    position: relative;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.1;
    color: var(--color-txt-title);
    text-align: center;
    padding-top: 34px;
}
aside.quick .book::after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 23' fill='%232C1D12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.12676 22.4885C1.53245 22.4885 1.02941 22.2826 0.617647 21.8709C0.205882 21.4591 0 20.9561 0 20.3618V4.61529C0 4.02098 0.205882 3.51794 0.617647 3.10618C1.02941 2.69441 1.53245 2.48853 2.12676 2.48853H3.75559V0H5.56559V2.48853H14.4797V0H16.2444V2.48853H17.8732C18.4675 2.48853 18.9706 2.69441 19.3824 3.10618C19.7941 3.51794 20 4.02098 20 4.61529V20.3618C20 20.9561 19.7941 21.4591 19.3824 21.8709C18.9706 22.2826 18.4675 22.4885 17.8732 22.4885H2.12676ZM2.12676 20.7238H17.8732C17.9638 20.7238 18.0468 20.6861 18.1221 20.6106C18.1976 20.5353 18.2353 20.4524 18.2353 20.3618V9.32118H1.76471V20.3618C1.76471 20.4524 1.80245 20.5353 1.87794 20.6106C1.95324 20.6861 2.03618 20.7238 2.12676 20.7238ZM1.76471 7.55647H18.2353V4.61529C18.2353 4.52471 18.1976 4.44176 18.1221 4.36647C18.0468 4.29098 17.9638 4.25323 17.8732 4.25323H2.12676C2.03618 4.25323 1.95324 4.29098 1.87794 4.36647C1.80245 4.44176 1.76471 4.52471 1.76471 4.61529V7.55647Z' /%3E%3C/svg%3E%0A");
}
aside.quick .top {
    margin-top: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 18px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 28' fill='%232C1D12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.125 27.5V4.3095L1.58062 12.8539L0 11.25L11.25 0L22.5 11.25L20.9194 12.8539L12.375 4.3095V27.5H10.125Z' /%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px){
    aside.quick .book,
    aside.quick .top {
        width: 50px;
        height: 50px;
    }
    aside.quick .book {
        padding-top: 27px;
    }
    aside.quick .book::after {
        top: 6px;
        height: 18px;
        background-size: 16px;
    }
    aside.quick .top {
        background-size: 18px;
    }
}
@media screen and (max-width:450px){
    aside.quick {
        bottom: 3%;
    }
}