/* 모든 페이지에서 중복되는 스타일 */
:root {
    --color-txt-title : #2C1D12;
    --color-txt-basic : #6B6159;
    --color-white : #fff;
    --color-white8 : rgba(255, 255, 255, 0.8);
    --color-white7 : rgba(255, 255, 255, 0.7);
    --color-white2 : rgba(255, 255, 255, 0.3);
    --color-white3 : rgba(255, 255, 255, 0.2);
    --header-h : 100px;
    --wrapper-m : 50px;
    --header-m : 14px
}
@media screen and (max-width:1024px){
    :root {
        --header-h : 80px;
        --wrapper-m : 30px;
    }
}
@media screen and (max-width:768px){
    :root {
        --header-h : 60px;
        --wrapper-m : 16px;
        --header-m: 8px
    }
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--color-txt-basic);
    word-break: keep-all; /* 단어별로 강제 줄 바꿈 */
    word-wrap: break-word; /* 단어가 너무 길 때  강제 줄 바꿈 */
}

.wrapper {
    width: 1440px;
    margin: 0 auto; /* 가운데 정렬 */
}
/*
    좌우여백 50px : 1440 + 50 + 50 = 1540px
*/
@media screen and (max-width:1540px) {
    .wrapper {
        width: auto;
        margin: 0 var(--wrapper-m);
    }
}
#wrap {
    position: relative; /* header 정렬 기준 */
    z-index: 10;
}

.blind {
    position: absolute;
    clip: rect(0, 0, 0, 0); /* 도형: 네모( ); */
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.txt_eng {
    font-family: 'Cormorant Garamond';
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.txt_kr {
    font-family: 'NanumMyeongjo';
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.02em;
}


.mo_only { /* 모바일에서만 보임 */
    display: none;
}
@media screen and (max-width:1024px) {
    body {
        font-size: 1.5rem;
    }
}
@media screen and (max-width:768px){
    .mo_only {
        display: block;
    }
    .pc_only {
        display: none;
    }
    body {
        font-size: 1.4rem;
    }
}

::selection { /* 글자 긁을 때 나오는 컬러 */
    background-color: #D1B48C;
    color: var(--color-white);
}