.ctn_reservation01 {
    margin: 133px 0 167px 0;
}
.ctn_reservation01 h3 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--color-txt-title);
    margin-bottom: 25px;
}
.ctn_reservation01 .table_wrap {
    margin-top: 17px;
}