@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/NotoSansKR-Regular.woff2') format('woff2'),
        url('../fonts/NotoSansKR-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('../fonts/NotoSansKR-Bold.woff2') format('woff2'),
        url('../fonts/NotoSansKR-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond-Medium.woff2') format('woff2'),
        url('../fonts/CormorantGaramond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('../fonts/CormorantGaramond-SemiBold.woff2') format('woff2'),
        url('../fonts/CormorantGaramond-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NanumMyeongjo';
    src: url('../fonts/NanumMyeongjoBold.woff2') format('woff2'),
        url('../fonts/NanumMyeongjoBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


