header {
    position: fixed; /* body 기준 정렬 */
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-h);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-m);
    color: var(--color-white);
}
header .logo a {
    display: block;
    width: 130.35px;
    height: 68.6px;
    background: url(../images/common/logo.svg) no-repeat center center / contain;
}
header .gnb .gnb_bg {
    position: absolute; /* header 기준 정렬 */
    z-index: -1;
    left: 0;
    top: 0;
    height: var(--header-h);
    background-color: #625144;
    transition: height 0.3s ease-in-out, opacity 0.2s ease-in-out;
}
header.fixed .gnb .gnb_bg {
    width: 100%;
}
@media screen and (min-width:1025px){
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_close,
    header .gnb .gnb_wrap .gnb_logo {
        display: none; /* 모바일에서 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        gap: 47px;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: var(--header-h);
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
        width: 0;
        height: 1px;
        background-color: var(--color-white);
        transition: 0.4s;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a:hover::before {
        width: calc(100% + 10%);
    }
    header .gnb .gnb_wrap ul.depth1 > li:last-child > a {
        position: relative; /* after 정렬 기준 */
        display: inline-flex;
        align-items: center;
        gap: 0 8px;
    }
    header .gnb .gnb_wrap ul.depth1 > li:last-child > a::after {
        content: "";
        width: 11px;
        height: 7px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 10.58px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 7' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5839 0.777859L5.29197 6.06982L0 0.77786L0.778001 -0.000140937L5.29197 4.51396L9.80593 -0.000141331L10.5839 0.777859Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute; /* li 기준 정렬 */
        left: 50%;
        top: var(--header-h);
        transform: translateX(-50%);
        background-color: #625144;
        padding: 26px 25px 15px 26px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding-bottom: 15px;
    }
    header.menu_pc .gnb .gnb_bg {
        width: 100%;
    }
}

footer {
    margin-top: 1000px;
}

