header {
    position: fixed; /* body 기준 정렬 */
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-h);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-m);
    transition: transform 0.5s, background-color 0.3s cubic-bezier(0.4, 0.1, 0.2, 1);
}
header .logo a {
    display: block;
    width: 99.65px;
    height: 52.45px;
    background: url(../images/common/logo.svg) no-repeat center center / contain;
    transition: background-image 0.5s;
}
header.white .logo a {
    background-image: url(../images/common/logo_dark.svg);
}
header.white .gnb .gnb_wrap ul.depth1 > li > a {
    color: var(--color-txt-title);
}
header.white .gnb .gnb_wrap ul.depth1 > li > a i svg {
    fill: var(--color-txt-title);
}
header.white .gnb .gnb_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 9' fill='%232C1D12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9V7.5H20V9H0ZM0 1.5V0H20V1.5H0Z'/%3E%3C/svg%3E%0A");
}
header.fixed {
    background-color: #625144;
}
header.fixed .logo a,
header.menu_pc .logo a {
    background-image: url(../images/common/logo.svg);
}
header.fixed .gnb .gnb_wrap ul.depth1 > li > a,
header.menu_pc .gnb .gnb_wrap ul.depth1 > li > a,
header.menu_mo .gnb .gnb_wrap ul.depth1 > li > a {
    color: var(--color-white);
}
header.fixed .gnb .gnb_wrap ul.depth1 > li > a i svg,
header.menu_pc .gnb .gnb_wrap ul.depth1 > li > a i svg,
header.menu_mo .gnb .gnb_wrap ul.depth1 > li > a i svg {
    fill: var(--color-white);
}
header.fixed .gnb .gnb_open {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 10' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10V8.33333H18V10H0ZM0 1.66667V0H18V1.66667H0Z'/%3E%3C/svg%3E%0A");
}
header.up:not(.menu_pc, .menu_mo) {
    transform: translateY(-110%);
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

@media screen and (min-width:1025px){
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: var(--header-h);
        padding: 0 20.5px;
        font-size: 1.8rem;
        color: var(--color-white);
        position: relative; /* after 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li:last-child > a {
        padding-right: 0;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        font-weight: 500;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a i svg {
        width: 14px;
        height: 8px;
        margin: 0 0 2px 12.8px;
        fill: var(--color-white);
        transition: fill 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute; /* a 기준 정렬 */
        left: 50%;
        bottom: 17px;
        transform: translateX(-50%);
        width: 0;
        height: 1px;
        background-color: var(--color-white);
        transition: width 0.3s;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a::after {
        width: 100%;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute; /* li 기준 정렬 */
        left: 50%;
        top: var(--header-h);
        transform: translateX(-50%);
        background-color: #625144;
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
        transition: height 0.6s cubic-bezier(0.4, 0.1, 0.2, 1), padding-top 0.4s cubic-bezier(0.4, 0.1, 0.2, 1);
        display: block !important;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding-bottom: 15px;
        white-space: nowrap;
        color: var(--color-white7);
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:focus {
        color: var(--color-white);
    }
    header.menu_pc {
        background-color: #625144;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        opacity: 1;
        height: 125px;
        padding: 26px 25px 15px 26px;
        min-width: 100%;
    }
}/*media*/
@media screen and (max-width:1024px){
    header {
        padding-right: 0;
    }
    header .logo a {
        width: clamp(81px, 9.2vw, 92px);
        height: clamp(44px, 4.9vw, 49px);
    }
    header .gnb .gnb_open {
        display: block;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 18px;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 18 10' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10V8.33333H18V10H0ZM0 1.66667V0H18V1.66667H0Z'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        position: absolute; /* header 기준 정렬 */
        z-index: 10;
        right: -90%;
        top: 0;
        width: 80%;
        height: 100dvh;
        background-color: #625144;
        color: var(--color-white);
        transition: all 0.5s;
    }
    header.menu_mo .gnb .gnb_wrap {
        right: 0;
    }
    header .gnb .gnb_wrap .gnb_logo {
        position: absolute; /* gnb_wrap 기준 정렬 */
        left: 20px;
        top: 0;
        margin: 10px 0 0 0;
        width: clamp(81px, 9.2vw, 92px);
        height: clamp(44px, 4.9vw, 49px);
        background: url(../images/common/logo_tab.svg) no-repeat center left / contain;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
        height: calc((100dvh - var(--header-h)));
        padding-top: 15px;
        overflow-y: auto;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: flex;
        justify-content: space-between;
        line-height: 70px;
        padding: 0 22px 0 20px;
        font-size: clamp(1.6rem, 1.9vw, 2rem);
        transition: color 0.5s ease-out;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a i svg {
        width: 14px;
        height: 8px;
        fill: var(--color-white);
        margin-bottom: 2px;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a i svg {
        transform: rotate(180deg);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: rgba(209, 180, 140, 0.5);
        padding: 15px 0;
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 19px 0 19px calc(var(--wrapper-m) * 2);
        font-size: clamp(1.4rem, 1.75vw, 1.8rem);
    }
    header .gnb .gnb_wrap .gnb_close {
        position: absolute; /* header 기준 정렬 */
        right: 0;
        top: 0;
        width: var(--header-h);
        height: var(--header-h);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.00105874 1.35593L1.35693 0L16.0004 14.6441L14.6445 16L0.00105874 1.35593Z' fill='%23ffffff'/%3E%3Cpath d='M15.9994 1.35593L14.6436 0L9.92122e-05 14.6441L1.35597 16L15.9994 1.35593Z' /%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_bg {
        opacity: 0;
        position: absolute; /* header 기준 정렬 */
        right: -100%;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        transition: right 0.3s cubic-bezier(0.4, 0.1, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0.1, 0.2, 1);
    }
    header.menu_mo .gnb .gnb_bg {
        opacity: 1;
        right: 0;
    }
}/*media*/
@media screen and (max-width:768px){
    header .logo a {
        width: clamp(81px, 11.97vw, 92px);
        height: clamp(44px, 6.38vw, 49px);
    }
}/*media*/

footer {
    background-color: #111;
    padding: 79px 0 101px 0;
    color: var(--color-white8);
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}
footer .f_logo {
    content: "";
    position: absolute;
    left: 0;
    top: 212px;
    width: 181.79px;
    height: 95.67px;
    overflow: hidden;
}
footer .f_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
footer .slogan h2 {
    font-size: 3rem;
    line-height: 1.7;
    color: var(--color-white);
}
footer .f_info {
    margin: 17px 10.14% 0 0;
}
footer .f_info .inner {
    display: flex;
    flex-direction: column;
    gap: 62px 0;
}
footer .f_info .group h3 {
    font-size: 2.4rem;
    margin-bottom: 11px;
    color: var(--color-white);
}
footer .f_info .group a {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}
footer .f_info .group a:hover {
    color: var(--color-white);
}
footer .f_info .group p + p{
    margin-top: 8px;
}
footer .f_info .group a,
footer .f_info .group:nth-of-type(3) p,
footer .f_info .copyright,
footer .login a {
    font-size: 1.6rem;
}
footer .f_info .group:nth-of-type(3) p + p {
    margin-top: 11px;
}
footer .f_info .copyright {
    margin: 20px 0 21px 0;
}
footer .login a {
    display: block;
}
footer .login a:hover {
    color: var(--color-white);
}
@media screen and (max-width:1560px){
    footer .f_logo {
        width: clamp(151.9px, 11.65vw, 181.79px);
        height: clamp(79.94px, 6.132vw, 95.67px);
    }
    footer .slogan h2 {
        font-size: clamp(2.2rem, 1.92vw, 3rem);
    }
    footer .f_info .group h3 {
        font-size: clamp(1.8rem, 1.53vw, 2.4rem);
    }

}/*media*/
@media screen and (max-width:768px){
    footer {
        padding: clamp(70px, 10.93vw, 84px) 0 clamp(70px, 10.93vw, 84px) 0;
    }
    footer .wrapper {
        display: block;
    }
    footer .f_logo {
        left: 50%;
        top: auto;
        transform: translateX(-50%);
        bottom: 82px;
        width: clamp(112.1px, 19.8vw, 151.9px);
        height: clamp(59px, 10.4vw, 79.94px);
    }
    footer .slogan h2 {
        font-size: clamp(1.8rem, 2.75vw, 2.2rem);
    }
    footer .f_info {
        margin: 48px 0 0 0;
    }
    footer .f_info .inner {
        gap: 42px 0;
    }
    footer .f_info .group h3 {
        font-size: clamp(1.8rem, 3.1vw, 2.4rem);
    }
    footer .f_info .group address,
    footer .f_info .group p,
    footer .f_info .group:nth-of-type(3) p,
    footer .f_info .group a,
    footer .f_info .copyright,
    footer .login a {
        font-size: clamp(1.4rem, 2vw, 1.6rem);
    }
    footer .f_info .copyright {
        text-align: center;
        margin: clamp(149px, 21.74vw, 167px) 0 8px 0;
    }
    footer .login a {
        text-align: center;
    }
}/*media*/