@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);

.cursor { 
    position: absolute;
    z-index: 1000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: none;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--color-white);
    text-align: center;
}
.cursor.on {
	display: block;
    width: 130px;
    height: 130px;
    line-height: 130px;
    background-color: rgba(254, 247, 229, 0.32);
    backdrop-filter: blur(20px);
}
.calm .list .swiper {
	cursor: none !important;
}

.visual {
    position: relative; /* scroll 정렬 기준 */
}
.visual .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.visual .swiper-slide .bg {
    position: absolute; /* swiper 기준 정렬 */
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-slide .txt {
    text-align: center;
    color: var(--color-white);
    margin: var(--wrapper-m);
}
.visual .swiper-slide .txt h3 {
    font-size: 6rem;
    margin-bottom: 24px;
}
.visual .swiper-slide .txt p {
    font-size: 2rem;
}
.visual .btn_prev {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    left: var(--wrapper-m);
    top: 50%;
    transform: translateY(-50%);
    width: clamp(54px, 6vw, 74px);
    height: clamp(54px, 6vw, 74px);
    background-color: var(--color-white2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: clamp(14px, 1.3vw, 16.47px);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 30' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7843 29.5686L0 14.7843L14.7843 0L16.4735 1.68925L3.37849 14.7843L16.4735 27.8793L14.7843 29.5686Z' /%3E%3C/svg%3E%0A");
}
.visual .btn_next {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    right: var(--wrapper-m);
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: clamp(54px, 6vw, 74px);
    height: clamp(54px, 6vw, 74px);
    background-color: var(--color-white2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: clamp(14px, 1.3vw, 16.47px);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 30' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7843 29.5686L0 14.7843L14.7843 0L16.4735 1.68925L3.37849 14.7843L16.4735 27.8793L14.7843 29.5686Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    left: 0;
    top: 67.8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 21.5px;
    width: 100%;
}
.visual .ctrl_wrap .paging {
    display: flex;
    gap: 19px;
    left: auto;
    bottom: auto;
    width: auto;
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet {
    width: auto;
    height: auto;
    background: transparent;
    margin: 0;
    opacity: 1;
    border-radius: 50%;
    cursor: pointer;
    position: relative; /* before 정렬 기준 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet:after {
    content:"";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #fff;
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet svg {
    width:28px;
    height:28px;
    overflow:visible;
    transform:rotate(-90deg);
}
.visual .paging .swiper-pagination-bullet svg .circle {
    fill: transparent;
    stroke-linecap: round;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
}
.visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active svg .circle {
    animation: progress 5s ease 1 forwards;
}
@keyframes progress{
    0% { stroke-dashoffset: 250 }
    100% { stroke-dashoffset: 0 }
}
.visual .ctrl_wrap .btn_stop,
.visual .ctrl_wrap .btn_play {
    width: 13px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12.94px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 15' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.71875 14.625V0H12.9375V14.625H8.71875ZM0 14.625V0H4.21875V14.625H0Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap .btn_play {
    display: none; /* stop 누르면 나옴 */
    background-size: 10.77px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.01464e-05 13.716L10.7739 6.858L2.01464e-05 0V13.716Z' /%3E%3C/svg%3E%0A");
}
.visual .scroll {
    position: absolute; /* visual 기준 정렬 */
    z-index: 10;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 2rem;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center
}
.visual .scroll .line {
    margin-top: 6px;
    width: 1px;
    height: 97px;
    background-color: var(--color-white3);
    position: relative; /* after 정렬 기준 */
    overflow: hidden;
}
.visual .scroll .line::after {
    content: "";
    position: absolute; /* line 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    transform-origin: top;
    animation: scroll 1.5s ease-in-out infinite;
}
@keyframes scroll {
    0% {
        transform: scaleY(0);
        opacity: 1;
    }
    80% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        opacity: 0;
    }
}
@media screen and (max-width:1024px){
    .visual .swiper-slide .txt h3 {
        font-size: clamp(2.8rem, 6vw, 6rem);
        margin-bottom: clamp(18px, 3vw, 24px);
    }
    .visual .swiper-slide .txt p {
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
}
@media screen and (max-width:768px){
    .visual .btn_prev,
    .visual .btn_next {
        display: none;
    }
}/*media*/

.calm {
    margin-top: 240px;
}
.calm .tit {
    text-align: center;
}
.calm .tit h2 {
    font-size: 5.6rem;
    margin-bottom: 59px;
    color: var(--color-txt-title);
}
.calm .tit p {
    margin-bottom: 10px;
    line-height: 1.8;
}
.calm .list {
    margin-top: 94px;
}
.calm .swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.calm .swiper-slide {
    background-position: center;
    background-size: cover;
    width: clamp(269.21px, 25.25vw, 394px);
    height: 394px;
    cursor: none;
}
.calm .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:1024px){
    .calm .tit h2 {
        font-size: clamp(3.6rem, 4.46vw, 5.6rem);
        margin-bottom: clamp(39px, 5.76vw, 59px);
    }
}
@media screen and (max-width:768px){
    .calm {
        margin-top: clamp(179px, 31.25vw, 240px);
    }
    .calm .tit h2 {
        font-size: clamp(2.8rem, 4.68vw, 3.6rem);
        margin-bottom: clamp(29px, 5vw, 39px);
    }
    .calm .list {
        margin-top: clamp(85px, 12.23vw ,94px);
    }
}

.room {
    margin-top: 216px;
}
.room .room_wrapper { 
    display:flex;
    align-items: flex-start;
}
.room .room_wrapper .tit {
    background: url(../images/main/room_bg.jpg) no-repeat center center / cover;
    color: var(--color-white);
    position: sticky; /* before 정렬 기준 */
    left: 0;
    top: 0;
    z-index: 10;
    width: 31%;
    height: 100vh;
    padding: 135px 120px;
}
.room .room_wrapper .tit::before {
    content: "";
    position: absolute; /* tit 기준 정렬 */
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(139, 122, 95, 0.4);
    backdrop-filter: blur(8px);
}
.room .room_wrapper .tit h2 {
    font-size: 5.6rem;
    margin-bottom: 33px;
}
.room .room_wrapper .tit p {
    font-size: clamp(1.4rem, 0.9vw, 1.7rem);
    word-break: break-all;
    line-height: 1.8;
}
.room .room_wrapper .list {
    margin: 5.2vw 0 0 clamp(48px, 10.2vw, 196px);
}
.room .room_wrapper .list a {
    display: block;
    margin-bottom: 7.81vw;
}
.room .room_wrapper .list a .inner {
    display: flex;
    align-items: center;
    gap: 0 clamp(31px, 4.06vw, 78px);
}
.room .room_wrapper .list a .photo {
    overflow: hidden;
    width: clamp(205px, 25.67vw, 493px);
    height: clamp(252px, 27.6vw, 530px);
}
.room .room_wrapper .list a .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.room .room_wrapper .list a .txt {
    width: 18.28vw;
}
.room .room_wrapper .list a .txt h3 {
    font-size: clamp(2.4rem, 1.87vw, 3.6rem);
    color: var(--color-txt-title);
    margin-bottom: clamp(23px, 2.08vw, 33px);
}
.room .room_wrapper .list a .txt p {
    font-size: clamp(1.4rem, 0.9vw, 1.7rem);
}
.room .room_wrapper .list a .txt .more {
    display: inline-block;
    border: 1px solid var(--color-txt-title);
    padding: 0 22px;
    margin-top: 5.46vw;
    font-size: 2rem;
    color: var(--color-txt-title);
    transition: color 0.3s cubic-bezier(0.4, 0.1, 0.2, 1), background-color 0.3s cubic-bezier(0.4, 0.1, 0.2, 1);
    line-height: 42px;
}
.room .room_wrapper .list a:hover .txt .more {
    background-color: var(--color-txt-basic);
    border-color: var(--color-txt-basic);
    color: var(--color-white);
}
@media screen and (max-width:1540px){
    .room .room_wrapper .tit {
        padding: 135px 50px;
    }
}
@media screen and (max-width:1024px){
    .room .room_wrapper .tit {
        padding: clamp(51px, 13.18vw, 135px) clamp(16px, 3vw, 30px);
    }
    .room .room_wrapper .tit h2 {
        font-size: clamp(3.6rem, 4.46vw, 5.6rem);
        margin-bottom: clamp(23px, 3.22vw, 33px);
    }
    .room .room_wrapper .list a .txt p {
        display: none;
    }
    .room .room_wrapper .list a .txt .more {
        margin-top: 21px;
    }
}
@media screen and (max-width:768px){
    .room .room_wrapper {
        flex-direction: column;
        align-items: normal;
    }
    .room .room_wrapper .tit {
        background-image: url(../images/main/room_bg_mo.jpg);
        backdrop-filter: blur(3px);
        position: relative;
        width: 100%;
        height: 100%;
        padding: 121px 30px;
        text-align: center;
    }
    .room .room_wrapper .tit h2 {
        font-size: clamp(2.8rem, 4.68vw, 3.6rem);
    }
    .room .room_wrapper .list {
        margin: 54px 0 0 var(--wrapper-m);
        overflow-x: auto;
    }
    .room .room_wrapper .list .list_inner {
        display: flex;
        gap: 0 16px;
    }
    .room .room_wrapper .list a .photo {
        overflow: hidden;
        width: 266px;
        height: 331px;
    }
    .room .room_wrapper .list a {
        display: inline-block;
        margin-bottom: 0;
    }
    .room .room_wrapper .list a .inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .room .room_wrapper .list a .txt {
        width: 100%;
    }
    .room .room_wrapper .list a .txt h3 {
        margin: 21px 0 0 0;
    }
    .room .room_wrapper .list a:hover .txt .more {
        background-color: var(--color-txt-title);
        color: var(--color-white);
    }
}

.stay {
    margin-top: 240px;
}
.stay .tit h2 {
    font-size: 5.6rem;
    margin-bottom: 19px;
    color: var(--color-txt-title);
}
.stay .list {
    margin-top: 50px;
}
.stay .list ul {
    display: flex;
    gap: 0 1.25vw;
    margin-bottom: 18px;
}
.stay .list ul li {
    width: calc((100% - 24px) / 3);
}
.stay .list ul li.wide {
    width: calc(((100% - 24px) / 3) * 2 + 24px);
}
.stay .list ul li a {
    display: block;
    position: relative; /* txt 정렬 기준 */
    overflow: hidden;
}
.stay .list ul li a::before {
    content: "";
    position: absolute; /* txt 기준 정렬 */
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(209, 180, 140, 0.2);
    backdrop-filter: blur(15px);
    transition: opacity 0.5s cubic-bezier(0.4, 0.1, 0.2, 1);
}
.stay .list ul li a:hover::before {
    opacity: 1;
}
.stay .list ul li a .photo {
    overflow: hidden;
    height: 321px;
}
.stay .list ul li a .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.stay .list ul li a .txt {
    position: absolute; /* a 기준 정렬 */
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 36px;
    opacity: 0;
    color: var(--color-white);
    transition: opacity 0.7s cubic-bezier(0.4, 0.1, 0.2, 1);
}
.stay .list ul li a:hover .txt {
    opacity: 1;
}
.stay .list ul li a .txt h3 {
    font-size: 2.8rem;
    margin-bottom: 16px;
}
.stay .list ul li a .txt p br {
    display: none;
}
@media screen and (max-width:1100px){
    .stay .list {
        margin-top: clamp(39px, 4.88vw, 50px);
    }
    .stay .list ul {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 16px 0;
    }
    .stay .list ul li,
    .stay .list ul li.wide {
        width: 100%;
    }
    .stay .list ul li a::before {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(0);
    }
    .stay .list ul li a .photo {
        height: clamp(221px, 31.34vw, 321px);
    }
    .stay .list ul li a .txt {
        padding: clamp(20px, 3.18vw, 35px);
        opacity: 1;
    }
    .stay .list ul li a .txt h3 {
        font-size: clamp(2rem, 2.73vw, 2.8rem);
        margin-bottom: 11px;
    }
}
@media screen and (max-width:1024px){
    .stay .tit h2 {
        font-size: clamp(3.6rem, .46vw, 5.6rem);
        margin-bottom: clamp(13px, 1.85vw, 19px);
    }
}
@media screen and (max-width:768px){
    .stay {
        margin-top: clamp(179px, 21.81vw, 240px);
    }
    .stay .tit h2 {
        font-size: clamp(2.8rem, 4.68vw, 3.6rem);
    }
}
@media screen and (min-width:510px) and (max-width:1100px){
    .stay .list ul li a .txt p br {
        display: block;
    }
}
@media screen and (max-width:510px){
    .stay .list ul li a .txt p br {
        display: none;
    }
}

.comfort {
    margin: 240px 0;
}
.comfort .tit {
    text-align: center;
}
.comfort .tit h2 {
    font-size: 5.6rem;
    margin-bottom: 19px;
    color: var(--color-txt-title);
}
.scroll {
    margin-top: 80px;
    overflow: hidden;
    width: 100%;
}
.scroll .track {
    display: flex;
    width: max-content;
}
.scroll .item {
    flex: 0 0 auto;
    margin-right: 24px; /* gap */
    height: 416px;
}
.scroll img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:1024px){
    .comfort .tit h2 {
        font-size: clamp(3.6rem, 4.46vw, 5.6rem);
        margin-bottom: clamp(13px, 1.85vw, 19px);
    }
    .scroll {
        margin-top: clamp(50px, 7.8vw, 80px);
    }
}
@media screen and (max-width:768px){
    .comfort {
        margin: clamp(179px, 21.81vw, 240px) 0;
    }
    .comfort .tit h2 {
        font-size: clamp(2.8rem, 4.68vw, 3.6rem);
    }
    .scroll .item {
        width: 254px;
        height: 277px;
    }
}

.contact {
    padding: 138px 0;
    background-color: #E0D3C2;
}
.contact .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 22px 30px 0 rgba(51, 29, 13, 0.3);
}
.contact .video {
    width: 50%;
    height: 689px;
}
.contact .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contact .txt_wrap {
    background-color: var(--color-white);
    width: 50%;
    height: 689px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}
.contact .txt h2 {
    font-size: 4rem;
    color: var(--color-txt-title);
}
.contact .txt .info {
    display: flex;
    flex-direction: column;
    gap: 13px 0;
    white-space: nowrap;
    margin: 26px 0 39px 4px;
    font-size: 2rem;
    color: var(--color-txt-title);
}
.contact .txt .info span {
    font-weight: 700;
}
.contact .txt .more {
    display: flex;
    gap: 0 clamp(18px, 1.46vw, 28px);
}
.contact .txt .more a {
    display: block;
    position: relative;
    z-index: 1;
    border: 1.5px solid #664228;
    padding: 0 6.92vw 0 26px;
    line-height: 73px;
    margin-bottom: 3.33vw;
    font-size: 2rem;
    color: #664228;
    transition: background-color 0.5s, border-color 0.5s, color 0.5s;
    overflow: hidden;
}
.contact .txt .more a::after {
    content: "";
    position: absolute;
    right: 26.52px;
    top: 24.52px;
    width: 22px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 21.96px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' fill='%23664228' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0104 21.9583V11.9479H0V10.0104H10.0104V0H11.9479V10.0104H21.9583V11.9479H11.9479V21.9583H10.0104Z'/%3E%3C/svg%3E%0A");
    transition: background-image 0.5s;
}
.contact .txt .more a:hover {
    background-color: var(--color-txt-basic);
    border-color: var(--color-txt-basic);
    color: var(--color-white);
}
.contact .txt .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 22' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0104 21.9583V11.9479H0V10.0104H10.0104V0H11.9479V10.0104H21.9583V11.9479H11.9479V21.9583H10.0104Z'/%3E%3C/svg%3E%0A");
}
.contact .txt p {
    font-size: 1.5rem;
}
@media screen and (max-width:1135px){
    .contact .txt .more {
        flex-direction: column;
        gap: 16px 0;
    }
    .contact .txt .more a {
        margin-bottom: 0;
    }
    .contact .txt p {
        margin-top: 30px;
    }
}
@media screen and (max-width:1024px){
    .contact .wrapper {
        margin: 0 var(--wrapper-m);
        box-shadow: 0 11px 15px 0 rgba(51, 29, 13, 0.2);
    }
    .contact .video {
        height: clamp(276px, 67.28vw, 689px);
    }
    .contact .txt_wrap {
        height: clamp(433px, 67.28vw, 689px);
    }
    .contact .txt h2 {
        font-size: clamp(2.6rem, 3.9vw, 4rem);
    }
    .contact .txt .info {
        font-size: clamp(1.6rem, 2vw, 2rem);
        gap: 1.3vw 0;
        margin: 2.5vw 0 3.8vw 4px;
    }
    .contact .txt .more a{
        font-size: clamp(1.4rem, 1.9vw, 2rem);
        line-height: 7.12vw;
    }
    .contact .txt .more a::after {
        right: 2.1vw;
        top: 2.1vw;
        background-size: clamp(13.46px, 2.196vw, 21.96px);
    }
    .contact .txt p {
        font-size: 1.3rem;
        margin-top: clamp(30px, 6.4vw, 64px);
    }
}
@media screen and (max-width:768px){
    .contact {
        padding: clamp(77px, 18vw, 138px) 0;
    }
    .contact .wrapper {
        display: block;
        box-shadow: 0 0 15px 0 rgba(51, 29, 13, 0.1);
    }
    .contact .video {
        width: 100%;
        box-shadow: none;
    }
    .contact .txt_wrap {
        background-color: var(--color-white);
        width: 100%;
        box-shadow: none;
        padding: 0;
    }
    .contact .txt {
        width: 85%;
    }
    .contact .txt h2 {
        font-size: clamp(2.4rem, 5.2vw, 4rem);
    }
    .contact .txt .info {
        gap: 5px 0;
        white-space: wrap;
        margin: 22px 0 22px 4px;
        color: var(--color-txt-title);
    }
    .contact .txt .more {
        gap: clamp(8px, 2vw, 16px) 0;
    }
    .contact .txt .more a {
        width: 100%;
        padding: 0 0 0 20px;
        line-height: 53px;
    }
    .contact .txt .more a::after {
        content: "";
        position: absolute;
        right: 20.77px;
        top: 19.77px;
        width: 14px;
        height: 14px;
    }
}

aside.quick {
    position: fixed;
    right: 50px;
    bottom: 5%;
    z-index: 99;
}
aside.quick .book,
aside.quick .top {
    display: block;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: var(--color-white);
    position: relative;
}