@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);

.visual {
    position: relative; /* scroll 정렬 기준 */
}
.visual .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.visual .swiper-slide .bg {
    position: absolute; /* swiper 기준 정렬 */
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-slide .txt {
    text-align: center;
    color: var(--color-white);
}
.visual .swiper-slide .txt h3 {
    font-size: 6rem;
    margin-bottom: 24px;
}
.visual .swiper-slide .txt p {
    font-size: 2rem;
}
.visual .btn_prev {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    left: var(--wrapper-m);
    top: 50%;
    transform: translateY(-50%);
    width: clamp(54px, 6vw, 74px);
    height: clamp(54px, 6vw, 74px);
    background-color: var(--color-white2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: clamp(14px, 1.3vw, 16.47px);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 30' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7843 29.5686L0 14.7843L14.7843 0L16.4735 1.68925L3.37849 14.7843L16.4735 27.8793L14.7843 29.5686Z' /%3E%3C/svg%3E%0A");
}
.visual .btn_next {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    right: var(--wrapper-m);
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: clamp(54px, 6vw, 74px);
    height: clamp(54px, 6vw, 74px);
    background-color: var(--color-white2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: clamp(14px, 1.3vw, 16.47px);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 30' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7843 29.5686L0 14.7843L14.7843 0L16.4735 1.68925L3.37849 14.7843L16.4735 27.8793L14.7843 29.5686Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    left: 50%;
    top: 67.8%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0 37px;
}
.visual .ctrl_wrap .paging {
    display: flex;
    gap: 37px;
    left: auto;
    bottom: auto;
    width: auto;
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--color-white);
    opacity: 1;
    margin: 0;
    position: relative; /* before 정렬 기준 */
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet-active::before {
    content: "";
    position: absolute; /* pagination-bullet 기준 정렬 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 27px;
    height: 27px;
    border: 0.5px solid var(--color-white);
    border-radius: 50%;
}
.visual .ctrl_wrap .btn_stop,
.visual .ctrl_wrap .btn_play {
    width: 13px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12.94px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 15' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.71875 14.625V0H12.9375V14.625H8.71875ZM0 14.625V0H4.21875V14.625H0Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap .btn_play {
    display: none; /* stop 누르면 나옴 */
    background-size: 10.77px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.01464e-05 13.716L10.7739 6.858L2.01464e-05 0V13.716Z' /%3E%3C/svg%3E%0A");
}
.visual .scroll {
    position: absolute; /* visual 기준 정렬 */
    z-index: 10;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 2rem;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center
}
.visual .scroll .line {
    margin-top: 6px;
    width: 1px;
    height: 97px;
    background-color: var(--color-white3);
    position: relative; /* after 정렬 기준 */
    overflow: hidden;
}
.visual .scroll .line::after {
    content: "";
    position: absolute; /* line 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    transform-origin: top;
    animation: scroll 1.5s ease-in-out infinite;
}
@keyframes scroll {
    0% {
        transform: scaleY(0);
        opacity: 1;
    }
    80% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        opacity: 0;
    }
}
@media screen and (max-width:1024px){
    .visual .swiper-slide .txt h3 {
        font-size: clamp(2.8rem, 6vw, 6rem);
        margin-bottom: clamp(18px, 3vw, 24px);
    }
    .visual .swiper-slide .txt p {
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
}
@media screen and (max-width:768px){
    .visual .btn_prev,
    .visual .btn_next {
        display: none;
    }
}

.essence {
    padding-top: 240px;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: clamp(218px, 30vw, 586px);
    background-image: url("data:image/svg+xml,%3Csvg width='582' height='613' viewBox='0 0 582 613' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='2' width='580' height='451' fill='%23D1B48C' fill-opacity='0.15'/%3E%3Crect y='317' width='496' height='296' fill='%23D1B48C' fill-opacity='0.08'/%3E%3C/svg%3E%0A");
}
.essence .wrapper {
    display: flex;
    justify-content: center;
    gap: 0 clamp(15px, 13.54vw, 260px);
}
.essence .inner {
    margin-top: 31px;
}
.essence .txt h2 {
    white-space: nowrap;
    font-size: 5.6rem;
    color: var(--color-txt-title);
}
.essence .txt p {
    line-height: 1.4;
    margin: 24px 0 0 4px;
}
.essence .more {
    display: inline-block;
    margin: 44px 0 0 4px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-txt-title);
    position: relative; /* after 정렬 기준 */
}
.essence .more::after {
    content: "";
    position: absolute; /* more 기준 정렬 */
    right: -1.5em;
    top: 0.1em;
    width: 1.05em;
    height: 1.05em;
    border-radius: 50%;
    background-color: #625144;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0.55em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.875 8.5V4.625H0V3.875H3.875V0H4.625V3.875H8.5V4.625H4.625V8.5H3.875Z' /%3E%3C/svg%3E%0A");
}
.essence .img_box {
    position: relative; /* img_sub 정렬 기준 */
    width: 586px;
    height: 621px;
}
.essence .img_box .img_main {
    width: 586px;
    height: 451px;
    object-fit: cover;
    display: block;
    box-shadow: 4px -4px 10px 0 rgba(0, 0, 0, 0.08);
}
.essence .img_box .img_sub {
    position: absolute; /* img_box 기준 정렬 */
    width: 389px;
    height: 303px;
    object-fit: cover;
    left: -79px;
    top: 319px;
    box-shadow: 4px -4px 10px 0 rgba(0, 0, 0, 0.08);
}
@media screen and (max-width:1600px){
    .essence {
        padding-top: clamp(116px, 17.64vw, 240px);
    }
    .essence .inner {
        margin-top: clamp(1px, 1.9vw, 31px);
    }
    .essence .txt h2 {
        font-size: clamp(3rem, 4.1vw, 5.6rem);
    }
    .essence .txt p {
        margin-top: clamp(14px, 1.47vw, 20px);
    }
    .essence .more {
        margin-top: clamp(38px, 3.23vw, 44px);
        font-size: clamp(1.4rem, 1.25vw, 2rem);
    }
    .essence .img_box {
        width: clamp(218px, 36.6vw, 586px);
        height: clamp(231px, 38.75vw, 620px);
    }
    .essence .img_box .img_main {
        width: clamp(218.48px, 36.62vw, 586px);
        height: clamp(168px, 28.18vw, 451px);
    }
    .essence .img_box .img_sub {
        width: clamp(145px, 24.31vw, 389px);
        height: clamp(112px, 18.93vw, 303px);
        left: calc(-4.9vw);
        top: calc(100% - clamp(168px, 28.18vw, 451px) + 8.2vw);
    }
}/*media*/
@media screen and (max-width:1360px){
    .essence .txt p br {
        display: none;
    }
}/*media*/
@media screen and (max-width:768px){
    .essence {
        background-position-y: 90%;
        background-size: clamp(212px, 56.75vw, 435.84px);
        background-image: url("data:image/svg+xml,%3Csvg width='436' height='466' viewBox='0 0 436 466' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='435.838' height='338.902' fill='%23D1B48C' fill-opacity='0.15'/%3E%3Crect y='238' width='398' height='228' fill='%23D1B48C' fill-opacity='0.08'/%3E%3C/svg%3E%0A");
    }
    .essence .wrapper {
        flex-direction: column;
        gap: 83px;
    }
    .essence .inner {
        width: 100%;
        margin-top: 0;
    }
    .essence .txt h2 {
        white-space: wrap;
        font-size: clamp(2.8rem, 3.9vw, 3rem);
        padding-bottom: 13px;
    }
    .essence .txt p {
        font-size: clamp(1.4rem, 2.2vw, 1.7rem);
    }
    .essence .more {
        font-size: 1.7rem;
    }
    .essence .more::after {
        right: -1.7647em;
        top: 0.0588em;
        width: 1.2353em;
        height: 1.2353em;
        background-size: 0.6471em;
    }
    .essence .img_box {
        padding-left: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .essence .img_box {
        width: clamp(218px, 64.47vw, 495.2px);
        height: clamp(231px, 60.76vw, 466.65px);
    }
    .essence .img_box img.img_main {
        width: clamp(225.31px, 56.75vw, 435.84px);
        height: clamp(175.03px, 44.12vw, 338.9px);
        box-shadow: 4px -4px 4px 0 rgba(0, 0, 0, 0.04);
    }
    .essence .img_box img.img_sub {
        left: -7.73vw;
        top: 30.99vw;
        width: clamp(151.11px, 38vw, 292.31px);
        height: clamp(117.59px, 30vw, 227.69px);
        box-shadow: 4px -4px 4px 0 rgba(0, 0, 0, 0.04);
    }
}/*media*/
@media screen and (max-width:480px){
    .essence .more {
        font-size: 1.4rem;
    }
    .essence .more::after {
        top: -2px;
    }
}/*media*/

.room {
    padding: 240px 0 127.5px 0;
    position: relative; /* bg 정렬 기준 */
    color: var(--color-white);
}
.room .bg {
    position: absolute; /* room 기준 정렬 */
    z-index: -1;
    left: 0;
    bottom: 0;
    background: url(../images/main/room_bg.jpg) no-repeat center center / cover;
    width: 100%;
    height: 483px;
}
.room .room_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: calc(50% + 720px);
    margin-left: calc((100% - 1440px) / 2);
    position: relative; /* ctrl_wrap 정렬 기준 */
}
.room .tit {
    margin-bottom: 102px;
}
.room .tit h2 {
    font-size: 6rem;
    margin-bottom: 14px;
}
.room .list {
    width: calc(100% - 558px);
}
.room .list .swiper-slide {
    width: 475px;
}
.room .list .swiper-slide a {
    display: block;
}
.room .list .swiper-slide a .photo {
    height: 384px;
    overflow: hidden;
}
.room .list .swiper-slide a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.room .list .swiper-slide a h3 {
    font-size: 2.8rem;
    margin: 15px 0 11px 2px;
}
.room .list .swiper-slide a h3 span {
    display: inline-block;
    position: relative; /* after 정렬 기준 */
}
.room .list .swiper-slide a h3 span::after {
    content: "";
    position: absolute; /* h3 기준 정렬 */
    left: 0;
    bottom: -6px;
    width: 0;
    height: 1px;
    background-color: var(--color-white);
    transition: width 0.3s;
}
.room .list .swiper-slide a:hover h3 span::after {
    width: 120%;
}
.room .list .swiper-slide a .more {
    display: inline-block;
    font-weight: 500;
    position: relative; /* after 정렬 기준 */
    margin-left: 2px;
}
.room .list .swiper-slide a .more::after {
    content: "";
    position: absolute; /* more 기준 정렬 */
    right: -1.7647em;
    top: -0.0588em;
    width: 1.2353em;
    height: 1.2353em;
    border-radius: 50%;
    background-color: #625144;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 0.6471em;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.875 8.5V4.625H0V3.875H3.875V0H4.625V3.875H8.5V4.625H4.625V8.5H3.875Z' /%3E%3C/svg%3E%0A");
}
.room .ctrl_wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 0 10px;
}
.room .ctrl_wrap .btn_prev,
.room .ctrl_wrap .btn_next {
    width: 47px;
    height: 47px;
    border: 1px solid var(--color-white);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10.46px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 19' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.39001 18.78L0 9.39001L9.39001 0L10.4629 1.0729L2.1458 9.39001L10.4629 17.7071L9.39001 18.78Z'/%3E%3C/svg%3E%0A");
    transition: background-color 0.3s, border-color 0.3s;
}
.room .ctrl_wrap .btn_prev:hover,
.room .ctrl_wrap .btn_next:hover {
    background-color: #625144;
    border-color: #625144;
}
.room .ctrl_wrap .btn_next {
    transform: rotate(180deg);
}
@media screen and (max-width:1540px){
    .room {
        padding: 15.58vw 0 8.24vw;
    }
    .room .bg {
        height: 31.36vw;
        margin-top: 23.5vw;
    }
    .room .room_wrap {
        width: auto;
        margin-left: var(--wrapper-m);
        position: relative; /* ctrl_wrap 정렬 기준 */
    }
    .room .tit {
        margin-bottom: 6.62vw;
    }
    .room .room_wrap .tit h2 {
        font-size: clamp(3.2rem, 3.6vw, 5.6rem);
        margin-bottom: 0.9vw;
    }
    .room .room_wrap .tit p {
        font-size: clamp(1.4rem, 1.1vw, 1.7rem);
    }
    .room .list {
        width: calc(100% - 36.23vw);
        padding: 0 0 0 30px;
    }
    .room .list .swiper-slide {
        width: 30.84vw;
    }
    .room .list .swiper-slide a .photo {
        height: 25vw;
    }
    .room .list .swiper-slide a h3 {
        font-size: clamp(2rem, 1.8vw, 2.8rem);
    }
    .room .list .swiper-slide a .more {
        font-size: clamp(1.4rem, 1.1vw, 1.7rem);
    }
    .room .ctrl_wrap .btn_prev,
    .room .ctrl_wrap .btn_next {
        width: 4.3vw;
        height: 4.3vw;
        background-size: 0.95vw;
    }
}
@media screen and (max-width:800px){
    .room .room_wrap .tit p br {
        display: none;
    }
}
@media screen and (max-width:768px){
    .room {
        padding: 93px 0 203px 0;
        margin-top: 86px;
    }
    .room .bg {
        width: 100%;
        height: 100%;
        margin-top: 0;
        background-image: url(../images/main/room_bg_mo.jpg);
    }
    .room .room_wrap {
        display: block;
        margin-left: 0;
    }
    .room .tit {
        margin: 0 0 40px 16px;
    }
    .room .room_wrap .tit h2 {
        font-size: clamp(2.8rem, 4.1vw, 3.2rem);
        margin-bottom: 10px;
    }
    .room .room_wrap .tit p br {
        display: block;
    }
    .room .list {
        width: auto;
        padding-left: 16px;
    }
    .room .room_wrap .list .swiper {
        padding: 0;
    }
    .room .list .swiper-slide {
        width: 254px;
    }
    .room .list .swiper-slide a .photo {
        height: 333px;
    }
    .room .list .swiper-slide a h3 {
        margin-bottom: 6px;
    }
    .room .ctrl_wrap {
        position: absolute;
        left: 50%;
        bottom: -123px;
        transform: translateX(-50%);
        gap: 0 15px;
    }
    .room .ctrl_wrap .btn_prev,
    .room .ctrl_wrap .btn_next {
        width: 44px;
        height: 44px;
        background-size: 9.8px;
    }
}

.beyond {
    margin-top: 240px;
}
.beyond .tit h2 {
    font-size: 5.6rem;
    margin-bottom: 19px;
}
.beyond .photo-box {
    margin-top: 50px;
}
.beyond .photo-box ul {
    display: flex;
    justify-content: space-between;
}
.beyond .photo-box .line01 {
    margin-bottom: 18px;
}
.beyond .photo-box .line01 li {
    width: calc(50% - 24px);
}
.beyond .photo-box .line02 {
    display: flex;
    justify-content: space-between;
}
.beyond .photo-box .line02 li {
    width: calc(33.33% - 24px);
}
.beyond .photo-box li a {
    display: block;
    position: relative;
}
.beyond .photo-box li a .photo {
    overflow: hidden;
    height: 321px;
}
.beyond .photo-box li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.beyond .photo-box li a .txt {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    color: var(--color-white);
}
.beyond .photo-box li a .txt h3 {
    font-size: 2.8rem;
    margin-bottom: 16px;
}