@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);

.visual {
    position: relative; /* scroll 정렬 기준 */
}
.visual .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.visual .swiper-slide .bg {
    position: absolute; /* swiper 기준 정렬 */
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-slide .txt {
    text-align: center;
    color: var(--color-white);
}
.visual .swiper-slide .txt h3 {
    font-size: 6rem;
    margin-bottom: 24px;
}
.visual .swiper-slide .txt p {
    font-size: 2rem;
}
.visual .btn_prev {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    left: var(--wrapper-m);
    top: 50%;
    transform: translateY(-50%);
    width: clamp(54px, 6vw, 74px);
    height: clamp(54px, 6vw, 74px);
    background-color: var(--color-white2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: clamp(14px, 1.3vw, 16.47px);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 30' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7843 29.5686L0 14.7843L14.7843 0L16.4735 1.68925L3.37849 14.7843L16.4735 27.8793L14.7843 29.5686Z' /%3E%3C/svg%3E%0A");
}
.visual .btn_next {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    right: var(--wrapper-m);
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: clamp(54px, 6vw, 74px);
    height: clamp(54px, 6vw, 74px);
    background-color: var(--color-white2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: clamp(14px, 1.3vw, 16.47px);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 30' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7843 29.5686L0 14.7843L14.7843 0L16.4735 1.68925L3.37849 14.7843L16.4735 27.8793L14.7843 29.5686Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    left: 50%;
    top: 67.8%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0 37px;
}
.visual .ctrl_wrap .paging {
    display: flex;
    gap: 37px;
    left: auto;
    bottom: auto;
    width: auto;
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--color-white);
    opacity: 1;
    margin: 0;
    position: relative; /* before 정렬 기준 */
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet-active::before {
    content: "";
    position: absolute; /* pagination-bullet 기준 정렬 */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 27px;
    height: 27px;
    border: 0.5px solid var(--color-white);
    border-radius: 50%;
}
.visual .ctrl_wrap .btn_stop,
.visual .ctrl_wrap .btn_play {
    width: 13px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12.94px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 15' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.71875 14.625V0H12.9375V14.625H8.71875ZM0 14.625V0H4.21875V14.625H0Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap .btn_play {
    display: none; /* stop 누르면 나옴 */
    background-size: 10.77px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.01464e-05 13.716L10.7739 6.858L2.01464e-05 0V13.716Z' /%3E%3C/svg%3E%0A");
}
.visual .scroll {
    position: absolute; /* visual 기준 정렬 */
    z-index: 10;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 2rem;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center
}
.visual .scroll .line {
    margin-top: 6px;
    width: 1px;
    height: 97px;
    background-color: var(--color-white3);
    position: relative; /* after 정렬 기준 */
    overflow: hidden;
}
.visual .scroll .line::after {
    content: "";
    position: absolute; /* line 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    transform-origin: top;
    animation: scroll 1.5s ease-in-out infinite;
}
@keyframes scroll {
    0% {
        transform: scaleY(0);
        opacity: 1;
    }
    80% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        opacity: 0;
    }
}
@media screen and (max-width:1024px){
    .visual .swiper-slide .txt h3 {
        font-size: clamp(2.8rem, 6vw, 6rem);
        margin-bottom: clamp(18px, 3vw, 24px);
    }
    .visual .swiper-slide .txt p {
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
}
@media screen and (max-width:768px){
    .visual .btn_prev,
    .visual .btn_next {
        display: none;
    }
}

.essence {
    margin-top: 240px;
}
.essence .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.essence .inner {
    width: 586px;
    margin-top: clamp(32.86px, 7vw, 133px);
}
.essence .txt h2 {
    font-size: 5.6rem;
    color: var(--color-txt-title);
}
.essence .txt p {
    line-height: 1.4;
    margin: 24px 0 0 4px;
}
.essence .more {
    display: inline-block;
    margin: 44px 0 0 4px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-txt-title);
    position: relative;
    /* after 정렬 기준 */
}
.essence .more::after {
    content: "";
    position: absolute;
    /* more 기준 정렬 */
    right: -28px;
    top: 2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #625144;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 10px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.875 8.5V4.625H0V3.875H3.875V0H4.625V3.875H8.5V4.625H4.625V8.5H3.875Z' /%3E%3C/svg%3E%0A");
}
.essence .img_box {
    position: relative; /* img_sub, bg_shape 정렬 기준 */
    padding-left: clamp(46.42px, 4vw, 79px);
}
.essence .img_box img.img_main {
    width: 586px;
    height: 451px;
    object-fit: cover;
}
.essence .img_box img.img_sub {
    position: absolute;
    left: 0;
    bottom: -170px;
    width: 389px;
    height: 303px;
    object-fit: cover;
}
.essence .bg_shape {
    position: absolute; /* img_box, after 기준 정렬 */
    z-index: -1;
    right: 0;
    top: 0;
    width: 948px;
    height: 620px;
}
.essence .bg_shape::before {
    content: "";
    position: absolute;
    left: 290px;
    bottom: 71px;
    width: 389px;
    height: 303px;
    background-color:rgba(209, 180, 140, 0.08);
}
.essence .bg_shape::after {
    content: "";
    position: absolute;
    right: -290px;
    top: -71px;
    width: 580px;
    height: 451px;
    background-color: rgba(209, 180, 140, 0.15);
}
@media screen and (max-width:1360px){
    .essence {
        margin-top: clamp(116px, 17.64vw, 240px);
    }
    .essence .inner {
       
        margin-right: 30px;
    }
    .essence .txt h2 {
        font-size: clamp(3rem, 4.1vw, 5.6rem);
    }
    .essence .txt p {
        margin-top: clamp(15px, 1.47vw, 20px);
    }
    .essence .txt p br {
        display: none;
    }
    .essence .more {
        margin-top: clamp(38px, 3.23vw, 44px);
    }
    .essence .img_box img.img_main {
        width: clamp(372.6px, 43.08vw, 586px);
        height: clamp(286.76px, 33.16vw, 451px);
        object-fit: cover;
    }
    .essence .img_box img.img_sub {
        bottom: clamp(-170px, -8vw, -108px);
        width: clamp(247.34px, 28.6vw, 389px);
        height: clamp(192.66px, 22.27vw, 303px);
    }
}
@media screen and (max-width:768px){
    .essence .wrapper {
        flex-direction: column;
        gap: 83px;
    }
    .essence .inner {
        width: 100%;
        margin-top: 0;
    }
    .essence .txt h2 {
        font-size: clamp(2.8rem, 3.9vw, 3rem);
        padding-bottom: 13px;
    }
    .essence .txt p {
        font-size: clamp(1.4rem, 2.2vw, 1.7rem);
    }
    .essence .more {
        font-size: 1.7rem;
    }
    .essence .more::after {
        top: 1px;
    }
    .essence .img_box {
        padding-left: clamp(31px, 15.23vw, 117px);
    }
    .essence .img_box img.img_main {
        width: clamp(225.31px, 75.52vw, 580px);
        height: clamp(175.03px, 58.72vw, 451px);
    }
    .essence .img_box img.img_sub {
        left: 0;
        bottom: auto;
        top: clamp(123.41px, 41vw, 318px);
        width: clamp(151.11px, 50.65vw, 389px);
        height: clamp(117.59px, 39.45vw, 303px);
    }
}
@media screen and (max-width:480px){
    .essence .more {
        font-size: 1.4rem;
    }
    .essence .more::after {
        top: -2px;
    }
}