@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);

.visual {
    position: relative; /* scroll 정렬 기준 */
}
.visual .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.visual .swiper-slide .bg {
    position: absolute; /* swiper 기준 정렬 */
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-slide .txt {
    text-align: center;
    color: var(--color-white);
    margin: var(--wrapper-m);
}
.visual .swiper-slide .txt h3 {
    font-size: 6rem;
    margin-bottom: 24px;
}
.visual .swiper-slide .txt p {
    font-size: 2rem;
}
.visual .btn_prev {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    left: var(--wrapper-m);
    top: 50%;
    transform: translateY(-50%);
    width: clamp(54px, 6vw, 74px);
    height: clamp(54px, 6vw, 74px);
    background-color: var(--color-white2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: clamp(14px, 1.3vw, 16.47px);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 30' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7843 29.5686L0 14.7843L14.7843 0L16.4735 1.68925L3.37849 14.7843L16.4735 27.8793L14.7843 29.5686Z' /%3E%3C/svg%3E%0A");
}
.visual .btn_next {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    right: var(--wrapper-m);
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: clamp(54px, 6vw, 74px);
    height: clamp(54px, 6vw, 74px);
    background-color: var(--color-white2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: clamp(14px, 1.3vw, 16.47px);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 30' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7843 29.5686L0 14.7843L14.7843 0L16.4735 1.68925L3.37849 14.7843L16.4735 27.8793L14.7843 29.5686Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    left: 0;
    top: 66.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    width: 100%;
}
.visual .ctrl_wrap .paging {
    display: flex;
    gap: 20px;
    left: auto;
    bottom: auto;
    width: auto;
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet {
    width: auto;
    height: auto;
    background: transparent;
    margin: 0;
    opacity: 1;
    border-radius: 50%;
    cursor: pointer;
    position: relative; /* before 정렬 기준 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet:after {
    content:"";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-white);
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet svg {
    width:28px;
    height:28px;
    overflow:visible;
    transform:rotate(-90deg);
}
.visual .paging .swiper-pagination-bullet svg .circle {
    fill: transparent;
    stroke-linecap: round;
    stroke: var(--color-white);
    stroke-width: 2;
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
}
.visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active svg .circle {
    animation: progress 5s ease 1 forwards;
}
@keyframes progress{
    0% { stroke-dashoffset: 250 }
    100% { stroke-dashoffset: 0 }
}
.visual .ctrl_wrap .btn_stop,
.visual .ctrl_wrap .btn_play {
    width: 13px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12.94px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 15' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.71875 14.625V0H12.9375V14.625H8.71875ZM0 14.625V0H4.21875V14.625H0Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap .btn_play {
    display: none; /* stop 누르면 나옴 */
    background-size: 10.77px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.01464e-05 13.716L10.7739 6.858L2.01464e-05 0V13.716Z' /%3E%3C/svg%3E%0A");
}
.visual .scroll {
    position: absolute; /* visual 기준 정렬 */
    z-index: 10;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 2rem;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center
}
.visual .scroll .line {
    margin-top: 6px;
    width: 1px;
    height: 97px;
    background-color: var(--color-white3);
    position: relative; /* after 정렬 기준 */
    overflow: hidden;
}
.visual .scroll .line::after {
    content: "";
    position: absolute; /* line 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    transform-origin: top;
    animation: scroll 1.5s ease-in-out infinite;
}
@keyframes scroll {
    0% {
        transform: scaleY(0);
        opacity: 1;
    }
    80% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        opacity: 0;
    }
}
@media screen and (max-width:1024px){
    .visual .swiper-slide .txt h3 {
        font-size: clamp(3.6rem, 6vw, 6rem);
        margin-bottom: clamp(12px, 3vw, 24px);
    }
    .visual .swiper-slide .txt p {
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
}
@media screen and (max-width:768px){
    .visual .swiper-slide {
        height: 800px;
    }
    .visual .swiper-slide .txt h3 {
        font-size: clamp(2.6rem, 4.68vw, 3.6rem);
    }
    .visual .swiper-slide .txt p {
        font-size: clamp(1.4rem, 2.2vw, 1.6rem);
    }
    .visual .btn_prev,
    .visual .btn_next {
        display: none;
    }
}/*media*/
@media screen and (max-width:350px){
    .visual .swiper-slide .txt p br.mo_only {
        display: none;
    }
}.visual {
    position: relative; /* scroll 정렬 기준 */
}
.visual .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.visual .swiper-slide .bg {
    position: absolute; /* swiper 기준 정렬 */
    z-index: -2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-slide .txt {
    text-align: center;
    color: var(--color-white);
    margin: var(--wrapper-m);
}
.visual .swiper-slide .txt h3 {
    font-size: 6rem;
    margin-bottom: 24px;
}
.visual .swiper-slide .txt p {
    font-size: 2rem;
}
.visual .btn_prev {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    left: var(--wrapper-m);
    top: 50%;
    transform: translateY(-50%);
    width: clamp(54px, 6vw, 74px);
    height: clamp(54px, 6vw, 74px);
    background-color: var(--color-white2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: clamp(14px, 1.3vw, 16.47px);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 30' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7843 29.5686L0 14.7843L14.7843 0L16.4735 1.68925L3.37849 14.7843L16.4735 27.8793L14.7843 29.5686Z' /%3E%3C/svg%3E%0A");
}
.visual .btn_next {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    right: var(--wrapper-m);
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: clamp(54px, 6vw, 74px);
    height: clamp(54px, 6vw, 74px);
    background-color: var(--color-white2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: clamp(14px, 1.3vw, 16.47px);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 30' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7843 29.5686L0 14.7843L14.7843 0L16.4735 1.68925L3.37849 14.7843L16.4735 27.8793L14.7843 29.5686Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap {
    position: absolute; /* swiper 기준 정렬 */
    z-index: 10;
    left: 0;
    top: 66.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    width: 100%;
}
.visual .ctrl_wrap .paging {
    display: flex;
    gap: 20px;
    left: auto;
    bottom: auto;
    width: auto;
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet {
    width: auto;
    height: auto;
    background: transparent;
    margin: 0;
    opacity: 1;
    border-radius: 50%;
    cursor: pointer;
    position: relative; /* before 정렬 기준 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet:after {
    content:"";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-white);
}
.visual .ctrl_wrap .paging .swiper-pagination-bullet svg {
    width:28px;
    height:28px;
    overflow:visible;
    transform:rotate(-90deg);
}
.visual .paging .swiper-pagination-bullet svg .circle {
    fill: transparent;
    stroke-linecap: round;
    stroke: var(--color-white);
    stroke-width: 2;
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
}
.visual .paging .swiper-pagination-bullet.swiper-pagination-bullet-active svg .circle {
    animation: progress 5s ease 1 forwards;
}
@keyframes progress{
    0% { stroke-dashoffset: 250 }
    100% { stroke-dashoffset: 0 }
}
.visual .ctrl_wrap .btn_stop,
.visual .ctrl_wrap .btn_play {
    width: 13px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12.94px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 15' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.71875 14.625V0H12.9375V14.625H8.71875ZM0 14.625V0H4.21875V14.625H0Z' /%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap .btn_play {
    display: none; /* stop 누르면 나옴 */
    background-size: 10.77px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 14' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.01464e-05 13.716L10.7739 6.858L2.01464e-05 0V13.716Z' /%3E%3C/svg%3E%0A");
}
.visual .scroll {
    position: absolute; /* visual 기준 정렬 */
    z-index: 10;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 2rem;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center
}
.visual .scroll .line {
    margin-top: 6px;
    width: 1px;
    height: 97px;
    background-color: var(--color-white3);
    position: relative; /* after 정렬 기준 */
    overflow: hidden;
}
.visual .scroll .line::after {
    content: "";
    position: absolute; /* line 기준 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    transform-origin: top;
    animation: scroll 1.5s ease-in-out infinite;
}
@keyframes scroll {
    0% {
        transform: scaleY(0);
        opacity: 1;
    }
    80% {
        transform: scaleY(1);
        opacity: 1;
    }
    100% {
        transform: scaleY(1);
        opacity: 0;
    }
}
@media screen and (max-width:1024px){
    .visual .swiper-slide .txt h3 {
        font-size: clamp(3.6rem, 6vw, 6rem);
        margin-bottom: clamp(12px, 3vw, 24px);
    }
    .visual .swiper-slide .txt p {
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
}
@media screen and (max-width:768px){
    .visual .swiper-slide {
        height: 800px;
    }
    .visual .swiper-slide .txt h3 {
        font-size: clamp(2.6rem, 4.68vw, 3.6rem);
    }
    .visual .swiper-slide .txt p {
        font-size: clamp(1.4rem, 2.2vw, 1.6rem);
    }
    .visual .btn_prev,
    .visual .btn_next {
        display: none;
    }
}/*media*/
@media screen and (max-width:350px){
    .visual .swiper-slide .txt p br.mo_only {
        display: none;
    }
}

.calm {
    margin-top: 240px;
}
.calm .tit {
    text-align: center;
}
.calm .tit h2 {
    font-size: 5.6rem;
    margin-bottom: 59px;
    color: var(--color-txt-title);
}
.calm .tit p {
    margin-bottom: 10px;
    line-height: 1.8;
}
.calm .list {
    margin-top: 94px;
}
.calm .swiper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.calm .swiper-slide {
    background-position: center;
    background-size: cover;
    width: clamp(269.21px, 25.25vw, 394px);
    height: 394px;
    cursor: none;
}
.calm .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:1024px){
    .calm .tit h2 {
        font-size: clamp(3.6rem, 4.46vw, 5.6rem);
        margin-bottom: clamp(39px, 5.76vw, 59px);
    }
}/*media*/
@media screen and (max-width:768px){
    .calm {
        margin-top: clamp(179px, 31.25vw, 240px);
    }
    .calm .tit h2 {
        font-size: clamp(2.8rem, 4.68vw, 3.6rem);
        margin-bottom: clamp(29px, 5vw, 39px);
    }
    .calm .tit p {
        margin-bottom: 18px;
    }
    .calm .list {
        margin-top: clamp(80px, 13.28vw, 102px);
    }
}/*media*/

.room {
    margin-top: 196px;
}
.room .room_wrapper { 
    display:flex;
    align-items: flex-start;
}
.room .room_wrapper .tit {
    background: url(../images/main/room_bg.jpg) no-repeat center center / cover;
    color: var(--color-white);
    position: sticky; /* before 정렬 기준 */
    left: 0;
    top: 0;
    z-index: 10;
    width: 32%;
    height: 100vh;
    padding: 135px 120px;
}
.room .room_wrapper .tit::before {
    content: "";
    position: absolute; /* tit 기준 정렬 */
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(139, 122, 95, 0.4);
    backdrop-filter: blur(8px);
}
.room .room_wrapper .tit h2 {
    font-size: 5.6rem;
    margin-bottom: 33px;
}
.room .room_wrapper .tit p {
    word-break: break-all;
    line-height: 1.8;
}
.room .room_wrapper .list {
    margin-top: 20px;
    width: 68%;
    display: flex;
    justify-content: center;
}
.room .room_wrapper .list a {
    display: block;
    margin-bottom: 7.81vw;
}
.room .room_wrapper .list a .inner {
    display: flex;
    align-items: center;
    gap: 0 clamp(31px, 4.06vw, 78px);
}
.room .room_wrapper .list a .photo {
    overflow: hidden;
    width: clamp(205px, 25.67vw, 493px);
    height: clamp(252px, 27.6vw, 530px);
}
.room .room_wrapper .list a .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.room .room_wrapper .list a .txt {
    width: 18.28vw;
}
.room .room_wrapper .list a .txt h3 {
    font-size: clamp(2.4rem, 1.87vw, 3.6rem);
    color: var(--color-txt-title);
    margin-bottom: 2.08vw;
}
.room .room_wrapper .list a .txt p {
    word-break: break-all;
    margin-left: 4px;
}
.room .room_wrapper .list a .txt .more {
    display: inline-block;
    border: 1px solid var(--color-txt-title);
    padding: 0 22px;
    margin: 5.46vw 0 0 4px;
    font-size: 2rem;
    color: var(--color-txt-title);
    transition: color 0.3s cubic-bezier(0.4, 0.1, 0.2, 1), background-color 0.3s cubic-bezier(0.4, 0.1, 0.2, 1);
    line-height: 42px;
}
.room .room_wrapper .list a:hover .txt .more {
    background-color: var(--color-txt-basic);
    border-color: var(--color-txt-basic);
    color: var(--color-white);
}
@media screen and (max-width:1540px){
    .room .room_wrapper .tit {
        padding: 135px 50px;
    }
}/*media*/
@media screen and (max-width:1024px){
    .room .room_wrapper .tit {
        width: 41%;
        padding: clamp(121px, 13.18vw, 135px) clamp(30px, 4.9vw, 50px);
    }
    .room .room_wrapper .tit h2 {
        font-size: clamp(3.6rem, 4.46vw, 5.6rem);
        margin-bottom: clamp(23px, 3.22vw, 33px);
    }
    .room .room_wrapper .list {
        width: 58%;
    }
    .room .room_wrapper .list a .txt h3 {
        margin-bottom: 0;
    }
    .room .room_wrapper .list a .txt p {
        display: none;
    }
    .room .room_wrapper .list a .txt .more {
        margin-top: 21px;
    }
}/*media*/
@media screen and (max-width:768px){
    .room {
        margin-top: clamp(125px, 25.52vw, 196px);
    }
    .room .room_wrapper {
        flex-direction: column;
        align-items: normal;
    }
    .room .room_wrapper .tit {
        background-image: url(../images/main/room_bg_mo.jpg);
        backdrop-filter: blur(3px);
        position: relative;
        width: 100%;
        height: 100%;
        padding: 121px clamp(16px, 4vw, 30px);
        text-align: center;
    }
    .room .room_wrapper .tit h2 {
        font-size: clamp(2.8rem, 4.68vw, 3.6rem);
    }
    .room .room_wrapper .tit p {
        word-break: keep-all;
    }
    .room .room_wrapper .list {
        justify-content: normal;
        margin: 61px 0 0 var(--wrapper-m);
        width: auto;
        overflow-x: auto;
    }
    .room .room_wrapper .list .list_inner {
        display: flex;
        gap: 0 16px;
    }
    .room .room_wrapper .list a .photo {
        overflow: hidden;
        width: 266px;
        height: 331px;
    }
    .room .room_wrapper .list a {
        display: inline-block;
        margin-bottom: 0;
    }
    .room .room_wrapper .list a .inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .room .room_wrapper .list a .txt {
        width: 100%;
    }
    .room .room_wrapper .list a .txt h3 {
        font-size: 2rem;
        margin: 21px 0 0 0;
    }
    .room .room_wrapper .list a:hover .txt .more {
        background-color: var(--color-txt-title);
        color: var(--color-white);
    }
}/*media*/