/* 모든 페이지에서 중복되는 스타일 */
:root {
    --color-white : #fff;
    --color-dark : #111;
    --color-gray : #444A55;
    --color-orange100 : #FF5906;
    --color-orange200 : #EA5028;
    --color-orange300 : #DB3B12;
    --color-blue : #0064FF;
    --color-brown : #6B6159;
    --header-h : 90px;
    --wrapper-m : 32px;
    --font-code : 'D2Coding';
}
@media screen and (max-width:1024px){
    :root {
        --header-h : 80px;
    }
}/*media*/
@media screen and (max-width:768px){
    :root {
        --header-h : 70px;
        --wrapper-m: 16px
    }
}/*media*/

html {
    font-size: 10px;
}

body {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    color: var(--color-white);
    word-break: keep-all; /* 단어별로 강제 줄 바꿈 */
    word-wrap: break-word; /* 단어가 너무 길 때  강제 줄 바꿈 */
    background-color: var(--color-dark);
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    padding-inline: 48px;
    margin: 0 auto;
}
@media screen and (max-width:1024px){
    .wrapper {
        padding-inline: 32px;
        max-width: 100%;
    }
}/*media*/
@media screen and (max-width:768px){
    .wrapper {
        padding-inline: 16px;
    }
}/*media*/
#wrap {
    position: relative; /* header 정렬 기준 */
    min-width: 1440px;
    z-index: 10;
}

.blind {
    position: absolute;
    clip: rect(0, 0, 0, 0); /* 도형: 네모( ); */
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.mo_only { /* 모바일에서만 보임 */
    display: none;
}
@media screen and (max-width:768px){
    .mo_only {
        display: block;
    }
    .pc_only {
        display: none;
    }
}/*media*/
