header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    isolation: isolate;
}
header .logo a {
    display: block;
    width: 61px;
    height: 45px;
    background: url(../images/common/logo.svg) no-repeat center center /contain;
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    padding: 0 25px;
    font-family: var(--font-code);
    font-size: 2.2rem;
    line-height: var(--header-h);
    color: var(--color-white);
    transition: color 0.3s ease;
}
header.dark .gnb .gnb_wrap ul li a {
    color: var(--color-dark);
}
header .gnb .gnb_wrap ul li:last-child a {
    padding: 0 0 0 25px;
}
header .gnb .gnb_wrap ul li a:hover {
    color: var(--color-orange100);
    transition: color 0.3s ease;
}
footer {
    margin-top: 157px;
    position: relative;
    background: url(../images/common/footer_bg.jpg) no-repeat center center / cover;
    padding: 461px 0 286px 0;
    text-align: center;
}
footer h2 {
    font-family: var(--font-code);
    font-size: 12.8rem;
    font-weight: 700;
    line-height: 1.1;
}
footer p {
    font-family: var(--font-code);
    font-size: 3.2rem;
    font-weight: 700;
    margin: 26px 0 13px 0;
}
footer .contact {
    display: flex;
    justify-content: center;
    gap: 0 24px;
    font-family: var(--font-code);
    font-size: 2rem;
}