header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    isolation: isolate;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
header.fixed {
    background-color: rgba(33, 33, 33, 0.4);
    backdrop-filter: blur(5px);
}
header.menu_pc {
    background-color: rgba(33, 33, 33, 0.4);
    backdrop-filter: blur(5px);
}
header.dark {
    background-color: rgba(240, 240, 240, 0.4);
}
header.up:not(.menu_pc) {
    transform: translateY(-110%);
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}
header .logo a {
    display: block;
    width: 61px;
    height: 45px;
    background: url(../images/common/logo2.png) no-repeat center center /contain;
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    display: block;
    padding: 0 25px;
    font-family: var(--font-code);
    font-size: 2.2rem;
    line-height: var(--header-h);
    color: var(--color-white);
    transition: color 0.3s ease;
}
header.dark .gnb .gnb_wrap ul li a {
    color: var(--color-dark);
}
header .gnb .gnb_wrap ul li:last-child a {
    padding: 0 0 0 25px;
}
header .gnb .gnb_wrap ul li.active a {
    color: var(--color-orange100);
    transition: color 0.3s ease;
}