@import url(common.css);
@import url(default.css);
@import url(fonts.css);
@import url(layout.css);


.visual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    height: 64.47vw;
    background: url(../images/main/visual_bg.jpg) no-repeat center center / cover;
    overflow: hidden;
}
.visual .object_box {
    position: relative;
    width: 100%;
    max-width: 75vw;
    min-width: 1260px;
    height: 100%;
    padding-inline: 48px;
    margin: 0 auto;
}
.visual .object01 {
    position: absolute;
    right: -3%;
    top: 24%;
    width: 203.38px;
    height: 198.56px;
    background: url(../images/main/satellite.svg) no-repeat center center / contain;
    animation: satellite 2.5s infinite  ease-in-out;
}
@keyframes satellite {
    0% { transform: translate(0, 0) }
    50% { transform: translate(40px, 20px) }
    100% { transform: translate(0, 0) }
}
.visual .object02 {
    position: absolute;
    right: -12.5%;
    bottom: 45%;
    width: 135px;
    height: 88px;
    background: url(../images/main/saturn.svg) no-repeat center center / contain;
    animation: saturn 2.5s infinite ease-in-out;
}
@keyframes saturn {
    0% { transform: translate(0, 0) }
    50% { transform: translate(-10px, 20px) }
    100% { transform: translate(0, 0) }
}
.visual .object03 {
    position: absolute;
    left: -5%;
    top: 30%;
    width: 29px;
    height: 42px;
    background: url(../images/main/star.svg) no-repeat center center / contain;
    animation: star_small 2.5s infinite ease-in-out;
}
@keyframes star_small {
    0% { transform: scale3d(1.5, 1.5, 1)}
    50% { transform: scale3d(1, 1, 1)}
    100% { transform: scale3d(1.5, 1.5, 1)}
}
.visual .object04 {
    position: absolute;
    left: -12%;
    bottom: 55%;
    width: 67px;
    height: 94px;
    background: url(../images/main/star.svg) no-repeat center center / contain;
    animation: star_big 2.5s infinite ease-in-out;
}
@keyframes star_big {
    0% { transform: scale3d(1, 1, 1);}
    50% { transform: scale3d(1.4, 1.4, 1);}
    100% { transform: scale3d(1, 1, 1);}
}

.about .wrapper {
    position: relative;
}
.about h2 {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 0.01em;
    margin-bottom: 64px;
    position: relative;
}
.about h2::after {
    content: "";
    position: absolute;
    right: -152px;
    bottom: -54px;
    width: 176px;
    height: 113.62px;
    background: url(../images/main/sjin_rocket.svg) no-repeat center center / contain;
}
.about h2 span {
    color: var(--color-orange100);
}
.about .inner {
    display: flex;
    gap: 0 213px;
}
.about .name {
    text-align: center;
}
.about .name .photo {
    height: 362px;
    margin-bottom: 42px;
    position: relative;
}
.about .name .photo::before {
    content: "";
    position: absolute;
    left: -17px;
    top: -32px;
    width: 31px;
    height: 44px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 31 44' fill='%23FFE4D5' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_208_16)'%3E%3Cpath d='M31 22.001C19.8713 25.4288 17.9143 28.2065 15.4993 44.0021C13.0857 28.2044 11.1287 25.4268 0 22.001C11.1287 18.5732 13.0857 15.7956 15.5007 0C17.9158 15.7956 19.8728 18.5732 31.0014 22.001H31Z' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_208_16'%3E%3Crect width='31' height='44' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.about .name .photo::after {
    content: "";
    position: absolute;
    right: -23px;
    bottom: -23px;
    width: 31px;
    height: 44px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 31 44' fill='%23FFE4D5' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_208_16)'%3E%3Cpath d='M31 22.001C19.8713 25.4288 17.9143 28.2065 15.4993 44.0021C13.0857 28.2044 11.1287 25.4268 0 22.001C11.1287 18.5732 13.0857 15.7956 15.5007 0C17.9158 15.7956 19.8728 18.5732 31.0014 22.001H31Z' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_208_16'%3E%3Crect width='31' height='44' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.about .name .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .name h3 {
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: -0.04em;
    margin-bottom: 10px;
    padding-left: 18px;
}
.about .name h3 span {
    font-family: var(--font-code);
    font-size: 2.4rem;
    font-weight: 700;
}
.about .name p {
    font-size: 2rem;
    font-family: var(--font-code);
    letter-spacing: -0.04em;
    margin-bottom: 5px;
    padding-left: 18px;
    color: rgba(255, 255, 255, 0.8);
}
.about .information h4 {
    font-family: var(--font-code);
    font-size: 3.2rem;
    letter-spacing: -0.04em;
    margin-bottom: 16px;
}
.about .information > .inner {
    margin-top: 59px;
    gap: 0 120px;
}
.about .informatio .inner.item02 {
    margin-top: 2px;
}
.about .information ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about .information ul li {
    display: flex;
    gap: 10px 13px;
    white-space: nowrap;
    line-height: 1.5;
}
.about .information .contact {
    font-family: var(--font-code);
    margin-top: 49px;
}
.about .information .contact span {
    font-size: 2rem;
    margin-right: 16px;
}
.about .information .education span,
.about .information .license span,
.about .information .experience span {
    font-family: var(--font-code);
}
.about .skills .skill_ico {
    display: flex;
    flex-wrap: wrap;
    gap: 22.45px 14.45px;
    width: 216.9px;
}
.about .object_bg {
    position: absolute;
    right: 50px;
    top: 0;
    width: 345px;
    height: 225px;
    background: url(../images/main/Planet.svg) no-repeat center center / contain;
}

.project01 {
    margin-top: 104px;
    padding-top: 190px;
}
.project01 .wrapper {
    position: relative;
}
.project01 .inner {
    display: flex;
    justify-content: space-between;
}
.project01 .txt .concept {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin: 20px 0;
    padding-left: 45px;
    position: relative;
}
.project01 .txt .concept::before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 30px;
    height: 30px;
    background: url(../images/main/star_small.svg) no-repeat center center / contain;
}
.project01 .txt .concept strong {
    font-size: 2rem;
    font-weight: 500;
}
.project01 .txt .concept span {
    font-size: 1.8rem;
}
.project01 .txt h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    padding-left: 152px;
    margin: 43px 0 49px 0;
    position: relative;
}
.project01 .txt h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: -16px;
    width: 120.66px;
    height: 84px;
    background: url(../images/main/01.svg) no-repeat center center / contain;
}
.project01 .txt p {
    font-size: 1.8rem;
    line-height: 1.7;
    position: relative;
}
.project01 .txt p::after {
    content: "";
    position: absolute;
    right: -60px;
    bottom: -37px;
    width: 173.17px;
    height: 242.21px;
    background: url(../images/main/rocket_3.svg) no-repeat center center / cover;
}
.project01 .photo {
    overflow: hidden;
    line-height: 0;
    height: 461.48px;
}
.project01 .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project01 .more {
    position: absolute;
    left: 0;
    bottom: 42.48px;
    overflow: hidden;
    border-radius: 34px;
}
.project01 .more a {
    display: block;
    width: 171px;
    height: 53px;
    border-radius: 34px;
    border: 3px solid var(--color-orange100);
    color: var(--color-orange100);
    text-align: center;
    line-height: 50px;
    font-family: var(--font-code);
    font-size: 2.2rem;
    position: relative;
}
.project01 .more a:hover {
    color: var(--color-white);
    transition: color 0.5s ease-in;
}
.project01 .more a::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -160%;
    z-index: -1;
    transform: translate(-50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: var(--color-orange100);
    transition: width 0.4s ease-in, height 0.3s ease-in, opacity 0.3s ease-in, bottom 0.4s ease-in;
}
.project01 .more a:hover::before {
    bottom: -50%;
    opacity: 1;
    width: 180px;
    height: 100px;
}

.project02 {
    margin-top: 70px;
    padding: 200px 0 100px 0;
}
.project02 .wrapper {
    position: relative;
}
.project02 .inner {
    display: flex;
    justify-content: space-between;
}
.project02 .txt .concept {
    display: flex;
    align-items: center;
    gap: 0 16px;
    margin: 20px 0;
    padding-left: 45px;
    position: relative;
}
.project02 .txt .concept::before {
    content: "";
    position: absolute;
    left: 0;
    top: -4px;
    width: 30px;
    height: 30px;
    background: url(../images/main/star_small.svg) no-repeat center center / contain;
}
.project02 .txt .concept strong {
    font-size: 2rem;
    font-weight: 500;
}
.project02 .txt .concept span {
    font-size: 1.8rem;
}
.project02 .txt h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    padding-left: 152px;
    margin: 44px 0 49px 0;
    position: relative;
}
.project02 .txt h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: -16px;
    width: 120.66px;
    height: 84px;
    background: url(../images/main/02.svg) no-repeat center center / contain;
}
.project02 .txt p {
    display: block;
    font-size: 1.8rem;
    line-height: 1.7;
    position: relative;
}
.project02 .txt p::after {
    content: "";
    position: absolute;
    right: -60px;
    bottom: -37px;
    width: 173.17px;
    height: 242.21px;
    background: url(../images/main/rocket_2.svg) no-repeat center center / cover;
}
.project02 .photo {
    overflow: hidden;
    line-height: 0;
    height: 461.48px;
}
.project02 .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project02 .more {
    position: absolute;
    left: 0;
    bottom: 25.48px;
    overflow: hidden;
    border-radius: 34px;
}
.project02 .more a {
    display: block;
    width: 171px;
    height: 53px;
    border-radius: 34px;
    border: 3px solid var(--color-orange100);
    color: var(--color-orange100);
    text-align: center;
    line-height: 50px;
    font-family: var(--font-code);
    font-size: 2.2rem;
    position: relative;
}
.project02 .more a:hover {
    color: var(--color-white);
    transition: color 0.5s ease-in;
}
.project02 .more a::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -160%;
    z-index: -1;
    transform: translate(-50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: var(--color-orange100);
    transition: width 0.4s ease-in, height 0.3s ease-in, opacity 0.3s ease-in, bottom 0.4s ease-in;
}
.project02 .more a:hover::before {
    bottom: -50%;
    opacity: 1;
    width: 180px;
    height: 100px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 993px;
    height: 100dvh;
    position: relative;
    background: url(../images/common/footer_bg.jpg) no-repeat center center / cover;
    padding: 461px 0 286px 0;
    text-align: center;
}
footer h2 {
    font-family: var(--font-code);
    font-size: 12.8rem;
    font-weight: 700;
    line-height: 1.1;
}
footer p {
    font-family: var(--font-code);
    font-size: 3.2rem;
    font-weight: 700;
    margin: 26px 0 13px 0;
}
footer .contact {
    display: flex;
    justify-content: center;
    gap: 0 24px;
    font-family: var(--font-code);
    font-size: 2rem;
}